
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'MyFont2';
    src: local('MyFont'), url(../../assets/font/RawsonMedium.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.container {
    padding-top: 153px;
    width: 100%;
    background-color: #323232;
    overflow-x: hidden;
}

.contain{
    min-height: 50vh;
    width:auto;
}



.Top2Images {
    padding: 4% 6%;
}

.InnerImgContainer {
    display: flex;
    justify-content: space-between;
    /* padding: 0 2%; */
    height: auto;
}

.img1 {
    width: 66%;
    height: auto;
}

.img2 {
    width: 32%;
}


.header {
    height: 153px;
    width: 100%;
    background-color: aliceblue;
}

.TextContainer{
    padding: 0% 6%;
    height: auto;
}

.AboutContent{
    width: 58%;
}

.headerText{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
    font-family: 'MyFont2' !important;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

}

.para{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #fff;
    font-weight: 500;
    font-family: 'MyFont2' !important;
}

.sliderImg{
    width: 32.5%;
}


@media (max-width:768px) {
    .container{
        padding-top: 60px;
    }
    .InnerImgContainer {
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .Top2Images {
        padding: 4% 2%;
    }

    .TextContainer{
        padding: 4% 2%;
    }
    .img1 {
        width: 100%;
    }

    .img2 {
        width:100%;
    }


    .header {
        height: 60px;

    }
    .AboutContent{
        width: 100%;
    }

    .foot{
        background-color: #323232;
        margin-top: -80px;
        padding-top: 50px;
    }
}
