
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'MyFont2';
    src: local('MyFont'), url(../../assets/font/RawsonMedium.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.Container{
    width:100%;
    padding: 150px 5.5% 0% 5.5%;
    background-color: #323232;
}

.contains{
    margin-top: 4%;
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    flex-basis: auto;
}

.headerText{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
    font-family: 'MyFont2' !important;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

}

.imageContainer{
     width: 100%; 
     column-count: 4;
     column-gap: 15px;
     row-gap: 15px;
 
}

.img{
    width:min-content;
    margin: 7.5px 0px;
    background-color: #eee;
    display: inline-block;
}




@media (max-width:768px){
    .Container{
    padding: 60px 0% 0% 0%;
    }
    .contains{
        margin-top: 4vh;
        padding: 0 2%;
    }
}


@media (max-width:1427px) {
    .imageContainer{
        column-count: 3;
    }
}

@media (max-width:1200px) {
    .imageContainer{
        column-count: 2;
    }
}

@media (max-width:767px) {
    .imageContainer{
        column-count: 1;
    }
}


