.flSnlP{
    width:100% !important;
}

.sc-hLBbgP{
    display: none !important;
}

.jhVFBb{
    display:none !important;
}

.sc-gKPRtg{
    display: none !important
}

#ReactSimpleImageViewer{
    z-index: 90 !important;
}
