:root {
    /* ---------------------------banner color ----------------- */ 
    --bannerColor:gold;

    /* ---------------------------background color 1 ----------------- */ 
    --backgroundColorPrimary: rgb(25, 199, 25);

    /* ---------------------------background color 2 ----------------- */ 
    --backgroundColorSecondary: #f7f7f7;
    
    /* ---------------------------text 1----------------- */
    --textColorPrimary: red;
    --textHoverColorPrimary:yellow;

    /* ---------------------------text 2----------------- */
    --textColorSecondary:orange;
    --textHoverColorSecondary:black;
    
    /* ---------------------------icon ----------------- */ 
    --iconsColor:green;

    /* ---------------------------form ----------------- */
    --formBackgroundColor:#f7f7f7;

    /* ---------------------------modal ----------------- */ 
    --modalHeaderBackgroundColor:gold;
    --modalHeaderTextColor:black;
    --modalHeaderCancelButtonColor:black;
    --modalBodyBackgroundColor:white;
    --modalBodyTextColor:black;

    /* ---------------------------drawer ----------------- */ 
    --drawerHeaderBackgroundColor:gold;
    --drawerHeaderTextColor:black;
    --drawerHeaderIconColor:black;
    --drawerBodyBackgroundColor:white;
    --drawerBodyTextColor:black;

    /* ---------------------------drop down ----------------- */ 
    --dropDownMenuBackgroundColor:grey;
    --dropDownMenuTextColor:white;
    --dropDownMenuTextHoverColor:black;
    

/* ---------------------------button 1----------------- */
    --btnBackgroundColorPrimary:black;
    --btnTextColorPrimary:white;
    --btnBorderColorPrimary:gold;
    --btnHoverBackgroundColorPrimary:#f7f7f7;
    --btnTextHoverColorPrimary:black;
    --btnBorderHoverColorPrimary:black;

/* ---------------------------button 2----------------- */
    --btnBackgroundColorSecondary:#f7f7f7;
    --btnTextColorSecondary:black;
    --btnBorderColorSecondary:black;
    --btnHoverBackgroundColorSecondary:black;
    --btnTextHoverColorSecondary:white;
    --btnBorderHoverColorSecondary:gold;

/* ---------------------------input----------------- */
    --inputBackgroundColor:black;
    --inputHoverBackgroundColor:#f7f7f7;
    --inputTextColor:white;
    --inputTextHoverColor:black;
    --inputBorderColor:gold;
    --inputBorderHoverColor:black;

/* ---------------------------border 1----------------- */
    --borderColorPrimary:white;
    --borderColorSecondary:black;

/* ---------------------------border 2----------------- */

  }