:root {
    /* ---------------------------banner color ----------------- */ 
    /* Modification and addition by Om Shrivastava on 18-10-23
    Reason : change the header color */
    /* --bannerColor:#8e6ea6; */
    
    /* --bannerColor:#bbe26c; */
    /* --bannerColor:#b7c796b9; */
    /* Modification and addition by Om Shrivastava on 19-11-23
    Reason : Need to change the color */
    /* --bannerColor:#dfd6cb; */
    --bannerColor:#f1cdd9;
    /* End of Modification and addition by Om Shrivastava on 19-11-23
    Reason : Need to change the color */
    

    /* --bannerColor:#14b563; */


    /* End of modification and adition by Om Shrivastava on 18-10-23
    Reason : change the header color */
    --videoBackgroundColor:#dfcfec;
    /* ---------------------------background color 1 ----------------- */ 

    /* Modification and addition by Om Shrivastava on 18-10-23
    Reason : change the header color */
    /* --backgroundColorPrimary: #e7dfe9; */

    /* Addition by Om Shrivastava on 10-11-23
Reason : Set the padding and margin of antd notification */
    /* --backgroundColorPrimary:#fee9e2; */
    --backgroundColorPrimary:#f1cdd9;
/* End of addition by Om Shrivastava on 10-11-23
Reason : Set the padding and margin of antd notification */


    
    /* --backgroundColorPrimary: #f8e9e4;  light reddish brown*/
    /* --backgroundColorPrimary: #e4e3e8;  gray color */


    /* ---------------------------background color 2 ----------------- */ 
   /* Modification and addition by Om Shrivastava on 18-10-23
    Reason : change the header color */ 
    /* --backgroundColorSecondary: #f7f7f7; */

    /* --backgroundColorSecondary: #fef2f1; */
    --backgroundColorSecondary: #fdfdfd;

    /* --backgroundColorSecondary: #f8f8f8; */

    /* Modification and addition by Om Shrivastava on 27-10-23
    Reason : Add the globally font family and letter spacing  */
    /* --fontFamily : "Lora"; */
    /* Modification and addition by Om Shrivastava on 16-11-23
    Reason : Set the fontfamily  */
    /* --fontFamily : "sans-serif"; */
    /* --fontFamily : "Lato";
    --fontFamily : "Montserrat"; */
    --fontFamily : "Oswald";
    /* End of Modification and addition by Om Shrivastava on 16-11-23
    Reason : Set the fontfamily */
    /* --fontFamily : "sans-serif"; */
    /* --fontFamily : "sans-serif"; */


    --letterSpacing : 0.5px;
    /* End of modification and addition by Om Shrivastava on 27-10-23
    Reason : Add the globally font family and letter spacing */
    
    /* ---------------------------text 1----------------- */
    --textColorPrimary: black;
    --textHoverColorPrimary:#878787;

    /* ---------------------------text 2----------------- */
    --textColorSecondary:black;
    --textHoverColorSecondary:black;
    
    /* ---------------------------icon ----------------- */ 
    --iconsColor:black;

    /* ---------------------------form ----------------- */
    --formBackgroundColor:#f7f7f7;

    /* ---------------------------modal ----------------- */ 
    --modalHeaderBackgroundColor:gold;
    --modalHeaderTextColor:black;
    --modalHeaderCancelButtonColor:black;
    --modalBodyBackgroundColor:white;
    --modalBodyTextColor:black;

    /* ---------------------------drawer ----------------- */ 
    --drawerHeaderBackgroundColor:gold;
    --drawerHeaderTextColor:black;
    --drawerHeaderIconColor:black;
    --drawerBodyBackgroundColor:white;
    --drawerBodyTextColor:black;

    /* ---------------------------drop down ----------------- */ 
    --dropDownMenuBackgroundColor:grey;
    --dropDownMenuTextColor:white;
    --dropDownMenuTextHoverColor:black;
    

/* ---------------------------button 1----------------- */
    /* --btnBackgroundColorPrimary:black; */
    /* --btnBackgroundColorPrimary: #f3c850; */
    --btnBackgroundColorPrimary:  #f1cdd9;
    /* --btnBackgroundColorPrimary:  #b7ffb7; */
    /* --btnBackgroundColorPrimary:   #c5c5b6; */

   

   
    /* --btnTextColorPrimary:white; */
    --btnTextColorPrimary:black;

    --btnBorderColorPrimary:black;
    --btnHoverBackgroundColorPrimary:#f7f7f7;
    --btnTextHoverColorPrimary:black;
    --btnBorderHoverColorPrimary:black;

/* ---------------------------button 2----------------- */
    --btnBackgroundColorSecondary:#f7f7f7;
    --btnTextColorSecondary:black;
    --btnBorderColorSecondary:black;
    --btnHoverBackgroundColorSecondary:black;
    --btnTextHoverColorSecondary:white;
    --btnBorderHoverColorSecondary:black;

/* ---------------------------input----------------- */
    --inputBackgroundColor:black;
    --inputHoverBackgroundColor:#f7f7f7;
    --inputTextColor:white;
    --inputTextHoverColor:black;
    --inputBorderColor:gold;
    --inputBorderHoverColor:black;

/* ---------------------------border 1----------------- */
    --borderColorPrimary:white;
    --borderColorSecondary:black;

/* ---------------------------border 2----------------- */

/* --------------------------line height----------------- */

    --letterSpacingText:1.7px;
    --letterSpacingTitle:2.4px;
    --letterSpacingHeading:3.3px;

  }