.home{
    max-height: 100vh;
    width:100%;
    /* overflow: scroll; */
}

.home::-webkit-scrollbar{
    /* z-index: 0; */
    /* width:10px; */
}

.foot{
    position: relative;
    /* top:153px; */
    /* top:99px; */

}

@media (max-width:767px){
    .foot{
        position: relative;
        /* top:13vh; */
        top: -8vh;
        top: -3vh;
    }
}