@import '../../root.css';

.divContainer {
    background-image: var(--page-background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }

.Container{
  /* position: relative;
  top: 23vh; */
  padding-top:var(--paddingSpace);
  max-height: 100vh;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* background-color: var(--backgroundColorSecondary); */
  
}

@font-face {
     font-family: var(--pagesFontFamily);

  src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.loader{
  width: 100%; 
  background: var(--backgroundColorSecondary);
}
.readyBox{
  min-width:70px;
  width:auto;
  height:30px;
  min-height: 20px;
  border: 1px solid #7c7c7c;
  display: flex;
  justify-content: center;
  gap:5px;
  padding: 4px 4px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
  /* letter-spacing: 1.2px; */
  font-weight: 600;
  /*    font-family: var(--pagesFontFamily);
 */
  /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : need to add the font family  */
  /* letter-spacing: 2px; */
  /*    font-family: var(--pagesFontFamily);
 */
  font-family: var(--pagesFontFamily);;
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : need to add the font family  */
  
}

.readyContainer{
  width:100%;
  display:flex;
  margin-top: 10px;
  justify-content: center;
  cursor: pointer;
}


.readyIcon{
  width: 8px;
  height: 8px;
  margin-right: 2px;
  margin:5px 0px;
}

.tops{
  height: 100px;
  width:100%;
  /* background-color: var(--backgroundColorSecondary); */
}

.foot{
  margin-top: 0px;
}

.TopContent{
 
  font-size: 24px;
  line-height: 32px;
 
  /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : need to add the font family  */
  /* letter-spacing: 2px; */
  /*    font-family: var(--pagesFontFamily);
 */
  font-family: var(--pagesFontFamily);;
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : need to add the font family  */
  font-weight: 550;
  
  text-transform: uppercase;
  color:#212121;
  /* padding-left: 5%; */
}
/* Addition by Om shrivastava on 30-11-23
Reason : Add the class name for the total product label */
.totalProduct{
  font-size: 17px;
  text-transform: capitalize;
  padding-left: 20px;
}
/* End of addition by Om shrivastava on 30-11-23
Reason : Add the class name for the total product label */

.filter{
  font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: var(--pagesFontFamily);

  font-weight: 550;
  color:#212121


}

.row{
  display: flex;
}

.bottom{
  margin-top:-2px ;
  /* height: 50px; */
  width:100%;
  display: flex;
  justify-content: space-between;
  /* background-color: var(--backgroundColorSecondary); */
}

.category{
  display: flex;
   width: 100%;;
justify-content: space-between;
 flex-wrap: wrap;

 padding: 12px 60px;
}

/* .img{
  height: 400px;
} */

.instFilter{
  /* Modification and addition by Om Shrivastava on 18-12-23
  Reason : Set the width */
  /* min-width: max-content; */
  min-width: 13%;
/* End of odification and addition by Om Shrivastava on 18-12-23
  Reason : Set the width */

  padding: 1%  2.5%;
  padding: 0% 0.2% 0% 0.2%;
  margin-left: 5%;
  overflow: auto;
  /* height: min-content; */
  position: sticky;
  top: 0;
  align-items: center;
  /* background-color: #f1cdd9; */
}

.cardContainer{
  margin-top:-2px;
  min-height: 300px;
  width: 100%;
  /* background-color: var(--backgroundColorSecondary); */
  display: flex;
  flex-wrap: wrap;
  gap:35px;
 padding-bottom: 50px;
/* Modification and addtion by Om shirvastava on 30-11-23
Reason : Set the content in left side */
  /* justify-content: space-evenly; */
  padding-left: 5%;
  /* *End of Modification and addtion by Om shirvastava on 30-11-23
  Reason : Set the content in left side */ 
}

.Container::-webkit-scrollbar{
 display:none;
}

.card{
   /* width: 20%; */
   width: 22.3%;
   /* min-width: 280px; */
   height: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}

.price{
  font-size: 16px;
  /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : Change the font family */
  /* font-family: 'MyFont'; */
  font-family: var(--pagesFontFamily);
  /* End of Modification and addition by Om Shrivastava on 27-10-23 
  Reason : Change the font family */
  font-weight: 400;
  text-align: center;
  padding: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  gap: 12px;
 }

 .title{
  font-size: 14px;
  line-height: 22px;
  /* letter-spacing: 1.2px; */
  word-break: normal;
  display:flex;
  color:#323232;
  text-align: center;
  justify-content: center;
  text-transform:initial;
  /* font-family: 'MyFont' !important; */
  /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : need to add the font family  */
  /* letter-spacing: 2px; */
  /* font-family: 'MyFont'; */
  font-family: var(--pagesFontFamily);;
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : need to add the font family  */
  /* Addition by Om shrivastava on 29-11-23
  Reason : Add the text transform */
  text-transform: capitalize;
  /* End of Addition by Om shrivastava on 29-11-23
  Reason : Add the text transform */
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
 }

 /* Addition by Om Shrivastava on 15-11-23
 Reason : Add the class of the image */
 .bestSellerImage{
  /* height: 340px;
  width: 440px; */
  height: 500px;
  width: 640px;

    /* filter: brightness(100%); */
 }

 .img12{
  height: 320px;
  width: 320px;
 }
/* End of addition by Om Shrivastava on 15-11-23
 Reason : Add the class of the image */
 @media (max-width: 1200px)
{
  .card{
    width: 27%;
  }
}
 @media (max-width: 768px) {
  .Container{
    /* position: relative;
    top: 8vh */
    padding-top:60px
  }

  .instFilter{
    display: none;
  }

  .card{
    width: 44%;
  }

  .cardContainer{
    gap: 0;
  }

  .cardContainer{
    justify-content: space-evenly;
    padding-left: 0px;
  }
 
 }



 /* Filter */
 .containsSort{
  width:100%;
  height:auto;
  /* background:var(--backgroundColorSecondary); */
  position:fixed;
  top:160px;
  
  display:flex;
  flex-direction: column;
  justify-content:center

 }
 .contains{
  width:100%;
  height:80vh;
  /* background:var(--backgroundColorSecondary); */
  position:fixed;
  top:23vh;
  right:10px;
  display:flex;
  flex-direction: column;
  justify-content:center
 }

.filterContain{
  width:100%;
  height:13%;
  /* background:var(--backgroundColorSecondary); */
  position:fixed;
  top:160px;
  display:flex;
  justify-content:center
}

.filterContainf{
  width:100%;
  height:13%;
  /* background:var(--backgroundColorSecondary); */
  position:fixed;
  top:155px;
  right:10px;
  display:flex;
  justify-content:center
}

.filterContainres{
  width:100%;
  height:13%;
  /* background:var(--backgroundColorSecondary); */
  position:fixed;
  top:23vh;
  display:none;
  justify-content:center
}

.filterInner{
  width:90%;
  height:100%;
  display:flex;
  flex-direction:column;
}

.filterheader{
  width:100%;
  height:95%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;

}

.filterHeaderInner{
  width:100%;
  height:40%;
  display:flex;
  justify-content:center;
  transition: height 2s ease-in;
}

.headtitle1{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2.5px;
       font-family: var(--pagesFontFamily);

    font-weight: 500;
    color: #000;
    text-transform: uppercase;

}

.headtitle2{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    /* color: black; */
    text-transform: uppercase;
       font-family: var(--pagesFontFamily);

    font-weight: 500;

}

.headtitle3{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.2px;
  color: #000;
  text-transform: uppercase;
     font-family: var(--pagesFontFamily);

  font-weight: 500;

}


.filterbottomMain{

  display:flex;
  justify-content:center;
  margin-top: -10px;
  overflow: scroll;
  z-index: 50;

}

.filterbottomMain::-webkit-scrollbar{
   display: none;
}

.filterbottomMainsort{

  display:flex;
  justify-content:center;
  margin-top: -10px;
  overflow: scroll;
  z-index: 50;
  height:10vh;

}


.filterbottomMainInner{
  position: relative;
  padding-top: 40px;
  height:60vh;
  width:90vw;
  overflow: auto;
  display: flex;
  justify-content: space-between;

}


.mainsort{
  width:100%;
  min-height:13vh;
  padding-bottom: 20px;
  padding:0 5%;
  /* background:var(--backgroundColorSecondary); */
  box-shadow: #212121;
  position:relative;
  top:13vh;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 80;
}

.filterbottomMainInnerSort{
 z-index: 91;
  width:100vw;
  display: flex;
  justify-content: space-between;
}

.filterbottomMainInnerItem
{
  width:20%;    
  height:auto;

}

.filterbottomMainInnerItem2
{
  width:20%;    
  overflow-y:auto;
 
}


.filterbottomMainInnerItem2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.filterbottomMainInnerItem2::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.filterbottomMainInnerItem2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}




.categ{
  font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
       font-family: var(--pagesFontFamily);

    font-weight: 500;
    margin: 0;
}

.text{
  width:70%;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  color: var(--textColorPrimary);
  text-transform: uppercase;
     font-family: var(--pagesFontFamily);

  font-weight: 500;
  margin: 0;
  
  cursor: pointer;
}



.iteminner{
  width:100%;
  height:auto;
  overflow: visible;
  display:flex;
  flex-wrap:wrap;

}


.textdiv{
  height:auto;
  padding:5px 10px;
  min-width:48%;
  margin: 2px;
  border-radius: 2px;
  /* background-color: #dfdddd; */
  display:flex;
  justify-content: space-between;
}


.sizediv{
  height:auto;
  padding:5px 10px;
  min-width:20%;
  
  margin: 3px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  /* background-color: var(--backgroundColorSecondary); */
}

.size{

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
     font-family: var(--pagesFontFamily);

  font-weight: 500;
  margin: 0;

}


.value{
  /* background-color: var(--backgroundColorPrimary); */
  color: #212121 !important;
}

.block{
  display:none;
}

.sortfilterres{
  display:block
}

.cross{
  margin-left: 10px;
  color:black;
  font-size: 12px;
  cursor: pointer;

}

.footerArange{
  position: relative;
  top:23vh;
}

.shopbtn1{
  width: 48%;
  height: 30px; 
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  font-weight: 600;
  font-size: 12px;
  height: 28px;
  letter-spacing: 1.3px;
  line-height: 25px;
  border: 1px solid rgba(140, 140, 140, 0.4);
}

.noresult{
  font-size: 20px;
    line-height: 28px;
    letter-spacing: 2.5px;
       font-family: var(--pagesFontFamily);

    font-weight: 600;
    margin: 0 ;
     /* Modification and addition by Om Shrivastava on 28-10-23
  Reason : Remove the letter spacing */
  font-family: var(--pagesFontFamily);
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 28-10-23
  Reason : Remove the letter spacing  */
}

.shopbtn1:hover{
  background-color: #000;
  color: #fff;
  border: 2px solid black;
}

.shopbtn2{
  width: 50%;
  height: 30px;
  text-align: center;
  padding:4px 0;
  font-family: var(--pagesFontFamily);

  letter-spacing: 1.2px;
  background-color: #000;
  color:white;
  margin:5px;
}

.shopbtn2:hover{
  background-color: var(--backgroundColorPrimary);
  color: #000;
  border: 2px solid black;
}


@media (max-width: 1000px){
  .Container{
    padding-top: 70px  ;
  }

  .containsSort{
    top:70px;
   }

   .filterContain{
    top:70px;
   }

   .filterContainf{
    display: none;
   }

  .filterbottomMain{
    display: none;
  }

  .filterContainres{
    display:flex;
    top:auto;
    /* background-color: #7c7c7c; */
    bottom: 0vh !important;
    transition: height 2s ease-out;
    height: 8%;
  
   }
   
}



@media (max-width: 768px) {
  /* .slab{
    min-height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
   
    justify-content: center;
  }
  .Container::-webkit-scrollbar{
   display:none;
  }
  
  .item{
     width: 20%;
     min-width: 280px;
     height: auto;
     margin-top: 10px;
     margin-bottom: 10px;
  } */

  .containsSort{
    top:70px;
   }

   .filterContain{
    top:70px;
   }
  .TopContent{
   font-size: 20px;
  }

  .category{
    display: flex;
     width: auto;
  /* Commented by Om Shrivastava on 08-12-23
  Reason : No need to show the content in center */
  /* justify-content: center; */
   flex-wrap: wrap;
   /*End of  Commented by Om Shrivastava on 08-12-23
  Reason : No need to show the content in center */
  }

  .bottom{
    margin-top: -15px;
    justify-content: center;
    height: var(--phoneViewHeight);

  }
  

  .slab{
    gap:10px;
  }

  .item{
    min-width: 45%;
    height: auto;
  }
  
  

  .filterbottomMain{
    /* display: flex;
    justify-content: center; */
    margin-top: 0px;
    position: absolute;
    top: 0vh;
    margin:0 8%;
    overflow: scroll;
    -ms-overflow-style:auto ;
   max-height: 88vh;
    z-index: 50;
  }
  
  .filterbottomMain::-webkit-scrollbar{
    width: 10px;
    display: block;
  }

  .mainsort{
    box-shadow: none;
    top:0vh;
  }
.foot{
  margin-top: -60px;
}
  .containsSort{
    top:70px;
    bottom: 0vh;
   }
  .footerArange{
    top:60px;
  }
  .Container{
      padding-top: 70px  ;
    max-height: 100vh;
    overflow: scroll;
  }
  .filterbottomMainInner{
    top: 0vh;
    /* height: 100vh; */
    flex-wrap: wrap;
  }

  .sortfilterres{
    display:none
  }

  .contains{
    width:100%;
    height:100vh;
    /* background:var(--backgroundColorSecondary); */
    position:fixed;
    top:11vh;  
    right:10px;
    display:flex;
    flex-direction: column;
    justify-content:center;
   }

   
   .iteminner{
    margin-top:0px;
   }
   
.filterContain{
  width:100%;
  height:13%;
  /* background:var(--backgroundColorSecondary); */
  position:fixed;
  top:auto;
  box-shadow: 0px 0 50px rgba(0, 0, 0, 0.7);
  bottom:13vh;
  display:flex;
  justify-content:center;
}

.filterContainf{
 display: none;
}


.filterContainres{
  display:flex;
  top:auto;
  /* background-color: #7c7c7c; */
  bottom: 0vh !important;
  transition: height 2s ease-out;
  height: 8%;

 }

.filterbottomMainInnerItem
{
  width:90%;    
  height:auto;
}

.filterbottomMainInnerItem2
{
  width:100%;    
  max-height:25vh;
  overflow-y:auto;
}

 }

 /* Addition by Om shrivastava on 15-11-23
 Reason : Add the media query for the best seller image */
 @media (max-width: 768px) {
  .bestSellerImage{
    height: 350px;
    width: 320px;
  }}
/* End of addition by Om shrivastava on 15-11-23
 Reason : Add the media query for the best seller image */

 @media (max-width: 520px) {
  .TopContent{
    padding-left: 0px;
    /* Addition by Om Shrivastava on 22-12-23
    Reason : Add the font size  */
    font-size: 17px;
    /* End of addition by Om Shrivastava on 22-12-23
    Reason : Add the font size  */
  }
  
  .title{
    font-size: 12px;
  }
  .price{
    font-size: 12px;
  }
  .readyBox{
    font-size: 10px;
  }
  .category{
    gap: 12px;
    width: 320px;
    padding: 0;
  }
  
  .bestSellerImage{
    height: 250px;
    width: 220px;
  }
  .img12{
    /* height: 300px;
    width: 250px; */
    height: 330px;
    width: 290px;
  }
  .totalProduct{
    font-size: 13px;
    padding-bottom: 2%;
  }
 }


 @media (max-width: 360px) {
  .TopContent{
    padding-left: 0px;
  }
  /* Addition by Om Shrivastava on 06-11-23
  Reason : Set the font size */
  .title{
    font-size: 12px;
  }
  .price{
    font-size: 12px;
  }
  .readyBox{
    font-size: 10px;
  }
  .category{
    gap: 12px;
    /* Modification and addition by Om Shrivastava on 15-11-23
    Reason : Set the width and padding of this div */
    width: 320px;
    padding: 0;
     /* End of modification and addition by Om Shrivastava on 15-11-23
    Reason : Set the width and padding of this div */
  }
  
   /* End of addition by Om Shrivastava on 06-11-23
  Reason : Set the font size */

  .bestSellerImage{
    height: 250px;
    width: 220px;
  }
 }

