@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
@import '../../root.css';


.container{
    display:flex;
    flex-direction: column;
    /* position: relative;
    top:23vh; */
    padding-top:153px;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--backgroundColorSecondary);
}

.container::-webkit-scrollbar{
    display: none;
}

.main{
    width:100%;
    background-color: var(--backgroundColorSecondary);
    display: flex;
    height: auto;
    justify-content: center;
   
}

.payBox{
    min-height:200px;
    max-height: 500px;
    width:40%;
    background-color:  var(--backgroundColorSecondary);
    display: flex;
    flex-direction: row;

}

.img{
    padding:8px;
    max-width:50%;
    height: auto;
    /* height:100%; */
}

.payTitle{
    padding: 8px;
    display:flex;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
}

.userinfoText{
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
}

.userinfoText2{
    color: black;
    font-size: 14px;
    word-break: normal;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
}

.invoice{
    margin:20px 0;
    width:50%;
    background-color:  var(--backgroundColorSecondary);
    border:1px solid black;
}

.head{
    width:100%;
    height:50px;
    background-color:  var(--backgroundColorSecondary);
}


.headIn{
    font-size: 30px;
    height:100%;
    color: var(--textColorSecondary);
    font-family: 'MyFont';
    text-align: center;
    letter-spacing:2px;
}

.header{
    width:100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.headerTexts{
    width:200px;
    background-color:  var(--backgroundColorSecondary);
    padding:5px;
}

.columnitem1head{
    margin-top:5px;
    font-family: 'MyFont';
    font-weight: 400;
    color:var(--textColorPrimary);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.4px;
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    justify-content: start;
}

.billingmain{
    width:100%;
}
.billingheader{
    width: 100%;

    background-color:  var(--backgroundColorPrimary);
    margin-top: 30px;
    display: flex;
}

.billingheader2{
    width: 100%;
    background-color:  var(--backgroundColorSecondary);
    display: flex;
}



.header1{
    
    color:var(--textColorSecondary);
    width:40%;
    max-width:40%;
    display:flex;
    justify-content:center;
    text-align: center;
    border-right: 1px solid var(--textColorSecondary);;
}

.header2{
    color:var(--textColorSecondary);
    width:20%;
    display:flex;
    justify-content:center;
    border-right: 1px solid var(--textColorSecondary);;

}

.protitle{
    color:var(--textColorPrimary);
    min-width:40%;
    max-width: 40%;
    height: 100%;
    display:flex;
    font-size:14px;
    padding-left: 10px;
    padding: 5px;
    word-break: break-all;
    border-right: 1px solid var(--textColorPrimary);
}
.protitle2{
    color:var(--textColorPrimary);
    width:20%;
    min-height: 100%;
   font-size:14px;
    border-right: 1px solid var(--textColorPrimary);
    text-align: center;
    white-space: nowrap;
}

.billingfooter{
    width: 100%;
    background-color:  var(--videoBackgroundColor);
    margin-top: 30px;
    display: flex;
    padding: 0 15px;
    justify-content: end ;
}


.billingtexts{
    padding: 0 10px;
    width: 100%;
    margin-top: 8px;
    color:black;
    display: flex;
    justify-content: end ;
}


.billingtexts2{
    width: 30%;
    margin-top: 8px;
    color:black;
    display: flex;
    justify-content:space-between ;
}

.diffTotal{
    width:100%;
    display: flex;
    justify-content: space-around;

}

.bilingiTEMS{
    width:100%;
    display: flex;

}

.item1{
    width:50%;
    height:100%;
    padding-left: 10px;
    padding: 3px;
    color:black;
    border-right: 1px solid black;
    word-break: break-all;
}

.item2{
    width:25%;
    min-height:100%;
    background-color:  var(--backgroundColorSecondary);
    padding-left: 10px;
    padding: 3px;
    color:black;
    border-right: 1px solid black;
    text-align: center;

}



@media (min-width:700px){
    .show{
        display:flex;
        justify-content: center;
        display: block;
    }
    
    .show2{
        display: none;
    }
}
@media (max-width: 1100px) {
   
    .invoice{
        width:90%;

    }
    .payBox{
        height:200px;
        width:70%;
    }
}

@media (max-width: 900px) {
    .invoice{
        width:90%;

    }
    .payBox{
        width:70%;
    }
}

@media (max-width: 768px) {

    .foot{
        margin-top:-60px;
    }

    .header2{
        width:24%;
    }

    .header{
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        /* margin: 0 auto; */
        width: auto;
    }

    .billingfooter{
        width: 100%;
        background-color:  var(--videoBackgroundColor);
        margin-top: 30px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between ;
    }
    
    
    .billingtexts{
        padding:0 3%;
        width: 98%;
        margin-top: 8px;
        color:black;
        display: flex;
        justify-content: space-between ;
    }
    .show{
        display: none;
        
    }
    
    .show2{
        display: block;
        max-width: 10%;
    }
    .container{
        padding-top:12vh;
        /* top:12vh; */
    }
    .invoice{
        width:90%;

    }
    .payBox{
        overflow: auto;
        width:90%;
    }

    .protitle2{
        width: 24%;
    }
}




/* printing whole page like window web page in mobile also. */

