@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'MyFont2';
    src: local('MyFont'), url(../../assets/font/RawsonMedium.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.head{
    color: #8c8c8c;
    height: auto;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.4px;
    font-weight: 550;
    display: flex;
    font-family: 'MyFont';
    flex-direction: column;
    justify-content: center;
    padding:0 5%;
    cursor: pointer;
}

.headText{
    font-family: "MyFont2";
    border-bottom:1px solid #8c8c8c;
    padding-bottom: 15px;
    padding-top:6vh;
    font-size: 16px;
    font-weight: 500;
}

.row {
    padding: 0 5%;
    color: white;
    background-color: WHITE;
    display:flex;
    padding-bottom: 100px;
}

.column1{
    width:50%;
    height: auto;
    display:flex;
    flex-direction: column;
}

.column2 {

    width: 50%;
    display: flex;
    justify-content: end;
}

.responsive{
    /* position:relative; */
    padding-top:153px;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
}


.shopbtn2{
    width: 50%;
    height: 40px;
    text-align: center;
    padding:7px 0;
  
    background-color: #323232;
    color:white;
    /* margin:5px; */
    font-size: 13px;
      cursor: pointer;
      letter-spacing: 2px;
      font-weight: 500;
  
      background-color: #323232;
      color: white ;
      text-align: center;
      opacity: 1;
      position: relative;
      font-weight: normal;
      text-transform: uppercase;
      padding: 10px 18px;
      -webkit-transition: all 250ms ease 0s;
      -o-transition: all 250ms ease 0s;
      transition: all 250ms ease 0s;
      border-width: 2px;
      border-style: solid;
      border-color: #323232;
      -webkit-border-image: initial;
      -o-border-image: initial;
      border-image: initial;
      text-decoration: none;
  }
  
  .shopbtn2:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid black;
  }

.responsive::-webkit-scrollbar{
display:none;
}


.columnitem1{
    width:100%;
}

.columnitem1_1{
    width:100%;
}

.columnitem1head{
    margin-top: 15px;
    font-family: 'MyFont';
    font-weight: 400;
    color:black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.columnitem1content1{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
}

.columnFirstName{
    width:47%;
    margin:8px;
    height:auto;
    background-color: white;
}
.cancelButtonWithSubmit{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
}
.firstName{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color:black;
    font-family: 'MyFont';
}

.firstInput{
    width: 100%;
    background: inherit;
    height: 36px;
    border: 1px solid rgba(140, 140, 140, 0.5);
    padding: 0 8px;
    font-size: 14px;
    color: black;
}
/* 
.firstInput:required:valid {
    border-color: green;
  }
.firstInput:invalid {
    outline: red;
  } */

  .firstInput::-webkit-validation-bubble{
    background-color: #323232;
  }

  ::-webkit-validation-bubble-message { display: none; }


.countrypicker{
    width: 100%;
    background: inherit;
    height: 36px;
    border: 1px solid rgba(140, 140, 140, 0.5);
    padding: 0 8px;
    font-size: 14px;
    color: black;
}

.countrypicker:hover{
    border: 1px solid green;
}

.firstInput2{
    width: 100%;
    background: inherit;
    height: 36px;
    border: 1px solid rgba(140,140,140, 0.5);
    padding: 0 8px;
    font-size: 14px;
    color: black;
}

.firstInput2:focus{
    border: 1px solid rgba(0,0,0, 1);

}

.inputr{
    height:100%;
    width: 90%;
    border:0px solid white;
outline: none;
border-color: white;
}


.userInfoButton{
    margin-top: 15px;
    min-width: 250px;
    font-size: 14px;
    width: 50%;
    cursor: pointer;
    letter-spacing: 1.3px;
    background-color: #7c7c7c;
    color: white !important;
    text-align: center;
    opacity: 1;
    font-family: 'MyFont';
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 18px;
    -webkit-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    border-width: 2px;
    border-style: solid;
    /* border-color: #323232; */
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    text-decoration: none;
    /* border: none; */
    border-radius: 0;
}
.userInfoButton:hover{
    background-color: black;
}



.userInfoButton3{
    margin-top: 15px;
    min-width: 250px;
    font-size: 14px;
    width: 50%;
    cursor: pointer;
    letter-spacing: 1.3px;
    background-color: #323232;
    color: white ;
    text-align: center;
    opacity: 1;
    font-family: 'MyFont';
    position: relative;
    font-weight: normal;
    outline: none;
    text-transform: uppercase;
    padding: 10px 18px;
    -webkit-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    border-width: 2px;
    border-color: #323232;
    border-style: solid;
    /* border-color: #323232; */
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    text-decoration: none;
    /* border: none; */
    border-radius: 0;
}
.userInfoButton3:hover{
    background-color: white;
    color:black
}


.userInfoButton2{
    margin-top: 15px;
    min-width: 250px;
    font-size: 14px;
    width: 50%;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: black;
    color: white !important;
    text-align: center;
    opacity: 1;
    font-family: 'MyFont';
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 18px;
    -webkit-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    border-width: 2px;
    border-style: solid;
    /* border-color: #323232; */
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    text-decoration: none;
    /* border: none; */
    border-radius: 0;
}
.userInfoButton2:hover{
    background-color: #323232;
}

.usedetailShow{

}

.userinfoText{
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: 'MyFont';
}

.userinfoText2{
    color: #323232;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: 'MyFont';
}

.userinfoText3{
    color: #323232;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-weight: 500;
    font-family: 'MyFont2';
}

.ship{
    font-size: 15px;
    font-weight: 570;
}

.change{
    align-self: flex-end;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: "MyFont";
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.change:hover{
    text-decoration: underline;
}

.columnitem2{
    width:100%;
    background-color: white;
}

.columnFullName{
    width:100%;
    height:auto;
    background-color: white;
    padding:2px 5px;
}

.boxAddress{
    width:100%;
    max-width: 235px;
    border:1px solid black;
    display: flex;
}

.addressInformation
{
width:80%;
height: 100%;
padding: 10px;
  
}

.adressTick{
    width:20%;
    display: flex;
    justify-content: center;
}

.columnitem3{
    width:100%;
}

.boxpay{
    margin-top: 10px;
    width:60%;
    border:1px solid black;
    height:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.upnextForm{
width:100%;
height:60px;

margin-top:5px;
color:black;
display:flex;
justify-content: center;
flex-direction: column;
letter-spacing: 1.2px;

}

.listHead{
    width:80%;
    height:100%;
    justify-self:end;
}

.sub{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    color:black;
    font-family: "MyFont";
    font-weight: 500;
}


.cartBox{
    width:100%;
    display: flex;
    
}

.img{
    width:35%;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.productInfo{
    display:flex;
    flex-direction: column;
    padding:10px;
}

.titlepro{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
    color:black;
    font-weight: 600;
}

@media (max-width: 1200px) {

.columnFirstName{
    width:100%;
    margin:8px;
    height:auto;
    background-color: white;
}

}

@media (max-width: 768px) {
    .userInfoButton{
        min-width: 100%;
    }
    .foot{
       margin-top:-12vh;
    }
    .responsive{
        /* position:relative; */
        padding-top:12vh;
    }
    
    .row {
        display:flex;
        flex-direction: column;
    }
    
    .column1{
        width:100%;
        height: auto;
        display:flex;
        flex-direction: column;
    }
    
    .column2 {
    
        width: 100%;
       
    }

    .column2 {
        justify-content: start;
    }
  
    .boxpay{
        width:100%;
    }

    .listHead{
        margin-top: 50px;
        width:100%;
        height:100%;                                                              
        justify-self:end;
    }
    .cancelButtonWithSubmit{
        flex-direction: column;

    }
}