
.pageHeading {
  margin-bottom: 15px;
  color: var(--page-content-title-font-color);
  font-size: var(--page-heading-font-size);
  text-align: var(--page-heading-text-align);
}
.pageFrame {
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-color: #ffffff;

  font-family: var(--page-font-family);
}

.coloredBackground {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}

.pageContainer {
  margin-left: var(--page-margin-left);
  margin-right: var(--page-margin-right);
  margin-top: var(--page-margin-top);
  margin-bottom: var(--page-margin-bottom);
  min-height: var(--page-min-height);
  text-align: left;
}

.contactSection {
  position: relative;
  width: 80%;
  margin-left: 10%;
}

.headingContainer {
  margin-bottom: 15px;
}

.container_bg {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.row {
  align-items: stretch;
  -webkit-box-align: stretch;
  display: flex;
}

.form {
  padding-right: 35px;
  padding: 45px 20px;
}

.contactUsButton {
  display: block;
  color: var(--button-font-color);
  padding: 10px;
  margin: 20px auto 0 auto;
  background-color: var(--button-color);
  border: none;
}

.contactUsButton:hover {
  background-color: var(--button-color-hover);
  color: var(--button-font-color-hover);
}

.inputField {
  width: 100%;
  border: 1px solid #ccc;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;

  &::placeholder {
    color: #131313;
  }

  &.message_box {
    height: 120px;
    align-items: start;
    resize: vertical;
    padding-top: 15px;
  }
}

.map_container {
  padding-top: 2%;

  height: 100%;

  .map_responsive {
    height: 100%;
  }
}

.col5,
.col7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.rowInfo {
  align-items: stretch;
  -webkit-box-align: stretch;
  display: flex;
  text-align: center;
}

.text {
  font-size: 20px;
}

.asterisk {
  color: red;
  margin-left: 3px;
}

.asteriskNone {
  margin-left: 3px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  position: relative;
  z-index: 1;
}

.subTitleColor {
  color: var(--page-content-subTitle-font-color);

  padding-bottom: 5px;
  font-weight: 600;
  font-size: var(--page-content-subTitle-font-size);
  display: block;
  text-align: left;
}
.subContent {
  padding-bottom: 5px;

  font-size: var(--page-content-subTitle-font-size);
  display: block;
  text-align: left;
}

.iconText {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 2px;
}

.icon {
  margin-right: 8px;
}

.contactInfo {
  margin-bottom: 2px;
  color: var(--page-content-font-color);
}

.formInputError {
  color: red;
  font-size: 14px;
  margin-top: 0px;
}

@media (max-width: 860px) {
  .pageContainer {
    margin-left: var(--page-margin-left);
    margin-right: var(--page-margin-right);
    margin-top: var(--page-margin-top);
    margin-bottom: 20px;
    min-height: 50vh;
  }

  .contactSection {
    width: 100%;
    margin: 0;
  }

  .row {
    flex-direction: column;
    padding: 0 15px;
  }

  .form {
    padding: 20px;
  }

  .contactUsButton {
    width: 100%;
    margin: 20px 0;
  }

  .inputField {
    padding-left: 15px;
  }

  .rowInfo {
    padding: 20px 0;
  }

  .text {
    font-size: 16px;
  }

  .iconText {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    margin-bottom: 5px;
  }
}

@media (max-width: 630px) {
  .pageContainer {
    margin-left: var(--page-margin-left);
    margin-right: var(--page-margin-right);
    margin-top: var(--page-margin-top);
    margin-bottom: 20px;
    min-height: 50vh;
  }

  .headingContainer h2 {
    font-size: 24px;
  }

  .contactUsButton {
    font-size: 16px;
    padding: 10px;
  }

  .inputField {
    font-size: 14px;
    padding: 10px;
  }

  .text {
    font-size: 14px;
  }

  .image {
    height: 300px;
    width: 100%;
  }

  .rowInfo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    word-wrap: break-word;
  }

  .rowInfo > div {
    width: 50%;
    padding: 10px;
  }

  .col5 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}


