
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.container{
    position: relative;
    top:15vh;
    height: auto;
    width:100%;
    background:#323232;
    padding-top: 100px;
}

.row{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    justify-content: space-around;
    background:#323232;
    padding:0 17%;
   
}

.column{
    height:auto;
    width:450px;
    background:#323232;
    display: flex;
    flex-direction: column;
    
}

.title{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
    font-family: 'MyFont';
    font-weight: 500;
    margin: 0;
    color: #fff;
    margin-top: 5px;
}

.subtitle{
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: 'MyFont';
    font-weight: 500;
    color: #fff;
   
}

.form{
    margin-top: 10vh;
}
.formInput{
    border: 1px solid gray;
}

.formInputContainer{
    width: 45%;
}

.itemButton{
    width: 100%;
    padding:9px 20px;
    text-align:center;
    background-color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Rawson-Regular';
    color: #000;
}
.lbl{
    color: #fff;
    letter-spacing:1px;
    font-weight:500;
}
@media screen and (max-width:768px) {
    .container{
        padding-top: 0px;
    }
    .title{
        margin-top:4vh;
        font-size: 14px;
        padding: 0 3%;
        letter-spacing: 1px;
        
    }
    .subtitle{
        margin-top: 5px;
        font-size: 12px;
        padding: 0 3%;
        width: 100%;
        letter-spacing: 1px;
    }
    .row{
        flex-direction: column;
        padding: 0;
    }
    .column{
        width: 100%;
    }
    .formInputContainer{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;

    }
    .col1{
        order: 2;
    }
    .col2{
        width: 100%;
        order: 1;
    }
    .lbl{
       
        font-weight: 400;
    }
}