.ant-input{
    background-color: var(--backgroundColorSecondary);
    border: 1px solid grey;
    color: black;
    font-weight: 500;
}

.ant-input-affix-wrapper{
    background-color: var(--backgroundColorSecondary);
    padding: 7px;
}
.ant-input-status-error{
    background-color: var(--backgroundColorSecondary);
}
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
    background-color: var(--backgroundColorSecondary);
}
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    background-color: var(--backgroundColorSecondary);
}
.ant-picker ,.ant-picker-status-error.ant-picker, .ant-picker-status-error.ant-picker:not([disabled]):hover {
    background-color: var(--backgroundColorSecondary);
    color: var(--textColorPrimary);
    width: 100%;
}
.ant-picker-input > input{
    color: var(--textColorPrimary);
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
   /* Addition and modification by Om Shrivastava on 29-11-23
   Reason : Set the color */
    /* color:var(--textColorPrimary); */
    color:red;
/* End of Addition and modification by Om Shrivastava on 29-11-23
   Reason :  Set the color */
}
