@import '../../root.css';
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.contact{
/* 
    position: relative;
    top:25vh; */
    height: auto;
    width:100%;
    background:var(--backgroundColorSecondary);
    padding-top: 35vh;
    max-height: 100vh;
    /* overflow-y: scroll; */
}


.contact::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.contact::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.contact::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.contain{
   
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
    background:var(--backgroundColorSecondary);
}

.column{
    height:auto;
    width:35%;
    background:var(--backgroundColorSecondary);
    display: flex;
    flex-direction: column;
  
}


.head{
    padding:0 20%;
    font-size: 24px;
    line-height: 32px;
    /* letter-spacing: 3px;
    font-family: 'MyFont'; */
    /* Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font weight */
    /* font-weight: 500; */
    font-weight: bold;
/* End of  Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font weight*/
    margin: 0;
    color: var(--textColorPrimary);
    margin-top: 5px;
/* Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacing */
  font-family: var(--fontFamily);
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacin  */
}

.head2{
    padding:0 20%;
    /* Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font size */
    font-size: 15px;
    line-height: 32px;
    /* End of Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font size  */
    /* letter-spacing: 3px;
    font-family: 'MyFont'; */
    /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacing */
  font-family: var(--fontFamily);
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacin  */
    font-weight: 600;
    color: var(--textColorPrimary);
    margin-top:40px;

}

.body{
    padding:0 20%;
    font-size: 18px;
    line-height: 26px;
    /* letter-spacing: 1px;
    font-family: 'Rawson-Regular'; */
    /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacing */
  font-family: var(--fontFamily);
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacin  */
    font-weight: 400;
    color: var(--textColorPrimary);
    /* Addition by Om shrivastava on 24-11-23
    REason : Need to set the justify  */
    text-align: justify;
    /* End of Addition by Om shrivastava on 24-11-23
    REason : Need to set the justify  */
}

.footerMargin{
    background-color: var(--backgroundColorSecondary);
}

@media screen and (max-width:768px) {
    .contact{
       padding-top:12vh;
       
    }
    
    .head{
        /* Modification and addition by Om Shrivastava on 24-11-23
        Reason : Need to remove the padding top */
        /* margin-top:6vh; */
        margin-top:2vh;
        /* End of Modification and addition by Om Shrivastava on 24-11-23
        Reason : Need to remove the padding top */
        font-size: 14px;
        padding: 0 3%;
    }
    .head2{
        margin-top:3vh;
        font-size: 14px;
        padding: 0 3%;
        width: 65%;
    }
    .body{
        font-size: 13px;
        padding: 0 3%;
        line-height: 20px;
        width: 65%;
    }
    .contain{
        flex-direction: column;
        padding: 0;
        gap:0px;
        
    }
    .column{
        width: 100%;
    }
    .col1{
        order: 2;
    }
    .col2{
        width: 100%;
        order: 1;
    }
  
}