@import "../../root.css";
@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(../../assets/font/RawsonAltRegular.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.divContainer {
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact {
  /* 
    position: relative;
    top:25vh; */
  height: auto;
  width: 100%;
  /* background:var(--backgroundColorSecondary); */
  /* Modification and addition by Om Shrivastava on 29-11-23
    Reason : set the height */
  /* padding-top: 35vh; */
  padding-top: 25vh;
  padding-top: var(--paddingSpace);

  max-height: 100vh;
  /* overflow-y: scroll; */
}

.contact::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.contact::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.contact::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.contain {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* Modification and addition by Om shrivastava on 29-11-23
    Reason : Set the designing */
  /* justify-content: center; */
  justify-content: space-around;
  /* End of Modification and addition by Om shrivastava on 29-11-23
    Reason : Set the designing  */
  /* gap:100px; */
  /* background: var(--backgroundColorSecondary); */
  padding-bottom: 1%;
}
.headingName {
  color: black;
  text-align: left;
  font-weight: bold;
  padding: 0 2.5%;
  font-size: 19px;
  font-family: var(--pagesFontFamily);
  line-height: 22px;
  /* padding-bottom: 15px; */
}
.column {
  height: auto;
  /* width:35%; */
  width: 35%;

  /* background: var(--backgroundColorSecondary); */
  display: flex;
  flex-direction: column;
}
.col1 {
  width: 50%;
}
.col2 {
  width: 40%;
}
.columnMain {
  width: 100%;
  padding: 0 2.5%;
  display: flex;
  flex-direction: column;
}
.head {
  /* padding:0 20%; */
  font-size: 24px;
  line-height: 32px;

  /* letter-spacing: 3px;
    font-family: 'MyFont'; */
  /* Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font weight */
  /* font-weight: 500; */
  font-weight: bold;
  /* End of  Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font weight*/
  margin: 0;
  color: var(--textColorPrimary);
  margin-top: 5px;
  /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacing */
  font-family: var(--pagesFontFamily);
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacin  */
}

.head2 {
  /* Commmented by Om Shrhivastgava on 29-11-23
    Reason : Remove the padding */
  /* padding:0 20%; */
  /* End of Commmented by Om Shrhivastgava on 29-11-23
    Reason : Remove the padding */
  /* Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font size */
  /* Modification and addition by Om Shrivastava on 29-11-23
    Reason : Set the font size */
  /* font-size: 18px; */
  font-size: 19px;
  /*End of Modification and addition by Om Shrivastava on 29-11-23
    Reason : Set the font size */
  line-height: 32px;
  line-height: 22px;

  /* End of Modification and addition by Om Shrivastava on 20-11-23
    Reason : Set the font size  */
  /* letter-spacing: 3px;
    font-family: 'MyFont'; */
  /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacing */
  font-family: var(--pagesFontFamily);
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacin  */
  font-weight: 600;
  color: var(--textColorPrimary);
  margin-top: 40px;
}

.body {
  /* padding:0 20%; */
  /* Modification and addition by Om Shrivastava on 29-11-23
    Reason : Set the font size */
  /* font-size: 18px; */
  font-size: 15px;
  /*End of Modification and addition by Om Shrivastava on 29-11-23
    Reason : Set the font size */
  line-height: 26px;
  /* letter-spacing: 1px;
    font-family: 'Rawson-Regular'; */
  /* Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacing */
  font-family: var(--pagesFontFamily);
  letter-spacing: var(--letterSpacing);
  /* End of Modification and addition by Om Shrivastava on 27-10-23
  Reason : Remove the letter spacin  */
  font-weight: 400;
  color: var(--textColorPrimary);
  /* Addition by Om shrivastava on 24-11-23
    REason : Need to set the justify  */
  text-align: justify;
  /* End of Addition by Om shrivastava on 24-11-23
    REason : Need to set the justify  */
}

.footerMargin {
  /* background-color: var(--backgroundColorSecondary); */
}

.instagramContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #bcbfaf, #ffffff, #aeae98);
}
.instagramLink {
  width: 16.5%;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.instagramImage {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.instaBox {
  color: var(--textColorPrimary);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.5px;
  font-family: var(--pagesFontFamily);
  padding: 0;
  margin: 0;
}
.instaText {
  color: var(--textColorPrimary);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.7px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.instagramTextContainer {
  background-color: var(--backgroundColorPrimary);
}

@media screen and (max-width: 768px) {
  .contact {
    padding-top: 7vh;
  }

  .head {
    /* Modification and addition by Om Shrivastava on 24-11-23
        Reason : Need to remove the padding top */
    /* margin-top:6vh; */
    margin-top: 2vh;
    /* End of Modification and addition by Om Shrivastava on 24-11-23
        Reason : Need to remove the padding top */
    font-size: 14px;
    /* padding: 0 3%; */
  }
  .head2 {
    margin-top: 3vh;
    font-size: 14px;
    /* padding: 0 3%; */
    padding: 0 1%;

    /* width: 65%; */
    width: 99%;
  }
  .body {
    font-size: 13px;
    /* padding: 0 3%; */
    /* line-height: 20px; */

    /* width: 65%; */
  }
  .contain {
    flex-direction: column;
    padding: 0;
    gap: 0px;
  }
  .column {
    width: 100%;
    padding: 1.3%;
  }
  .col1 {
    order: 2;
  }
  .col2 {
    width: 100%;
    order: 1;
  }
  /* Addition by Om Shrivastava on 29-11-23
  Reason : Add the font size */
  .headingName {
    font-size: 16px;
  }

  .instagramContainer {
    /* height: 150px; */
    overflow-x: scroll;
  }

  .instagramLink {
    min-height: 150px;
  }
  .instagramImage {
    min-height: 150px;
  }

  .instagramLink {
    min-width: 33.3%;
  }
  .instagramTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: var(--backgroundColorPrimary);
  }
  .instagramImage {
    /* object-fit: cover; */
    width: 100%;
    height: 130px;
  }
  .instaBox {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .instaText {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}
