
@import '../../root.css';
.ppContainer{
   
    height: auto;
    width:100%;
    background:var(--bgColor);
    padding-top: 30vh;
    max-height: 100vh;
    /* overflow-y: scroll; */
}


.footerMargin{
    background-color: var(--bgColor);
}
.ppContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ppContainer::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.ppContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.contain{
   
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background:var(--bgColor);
}

.column{
    height:auto;
    width:100%;
    background:var(--bgColor);
    display: flex;
    flex-direction: column;
  
}


.title{
    padding:0 20%;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 3px;
    font-family: 'MyFont';
    font-weight: 600;
    margin: 0;
    color: black;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 3vh;
}

.subTitle{
    padding:0 16%;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 3px;
    font-family: 'MyFont';
    margin-top: 15px;
    color: black;
}

.content{
    padding:0 16%;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Rawson-Regular';
    color: black;
}

@media screen and (max-width:768px) {
    .ppContainer{
       padding-top:15vh;
    }
    .tacContainer{
        top:5vh;
    }
    .subTitle,.content,.title{
        padding:0 5%;
       
    }
    .subTitle{
        font-size: 18px;
        font-weight: 500;
    }
    .contain{
        /* margin-bottom: 13vh; */
    }
 
}