
/* // Created by Ashish on 06-11-2022
// Reason - To have FAQ functionality */
.faqContainer{
    /* position: relative;
    top:23vh; */
    height: auto;
    width:100%;
    background:#323232;
    padding-top: 27vh;
    max-height: 100vh;
    overflow-y: scroll;
}


.faqContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.faqContainer::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.faqContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.item{
    width: 83%;
    margin-bottom: 2vh;
}

.question{
    width: 100%;
    background-color: #6b6b6b;
    padding: 14px;
}

.answer{
    width: 100%;
    background-color: #49494a;
    padding: 14px;
}

.itemText{
    font-size: 17px;
    color: #fff;

}

.showAnswer{
    display: block;
}

.hideAnswer{
    display: none;
}

@media screen and (max-width:768px) {
    .faqContainer{
        padding-top:15vh;
    }
    .row{
        flex-direction: column;
    }
    .item{
        width: 96%;
    }
    .itemContent{
        height: 70vh;
    }
   
    
}