body {
  font-family: var(--page-font-family);
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.pageFrame {
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-color: #ffffff;
  font-family: var(--page-font-family);
  min-height: var(--page-min-height);
}

.coloredBackground {
  background-color: #ffffff;
  border-radius: 10px;
}

.pageContainer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 29.094px;
  margin-right: 29.109px;
}

.pageContainer .container {
  display: flex;
  width: 94%;
  padding: 0;
  gap: 30px;
}

.mainContent {
  border: 1px solid #e5e5e5;
  border-top: none;
}

.filterContainer {
  width: 30%;
  float: left;
  margin-bottom: 30px;
}

.filterModel {
  display: none;
}

.productDetailContainer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.filterContainer h2 {
  background-color: var(--button-color);
  padding: 8px 10px;
  color: var(--button-font-color);
  font-size: var(--page-subTitle-font-size);
  border-radius: 4px 4px 0 0;
}

.subtitle {
  font-size: var(--page-subTitle-font-size);
  color: #282828;
  font-weight: 500;
  margin-bottom: 15px;
}

.sortContainer {
  display: flex;
  align-items: center;
  float: right;
  margin: 10px 15px 10px 50px;
}

.sortTitle {
  font-size: var(--page-subTitle-font-size);
  padding-right: 10px;
}

.sortContainer label {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.labelViews {
  padding-right: 5px;
}

.sortContainer select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: var(--page-subTitle-font-size);
}

.filterButton {
  display: none;
}

.noProductsFound {
  width: 100%;
}

.filterGroup {
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.name {
  width: 90%;
}

.commentBox {
  margin-bottom: 8px;
  margin-top: 8px;
}

.commentInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  resize: none;
}

.commentInput::placeholder {
  color: #888;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.filterGroup h3 {
  font-size: var(--page-content-font-size);
  margin-bottom: 10px;
}

.filterGroup:last-child {
  border-bottom: none;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
}

.priceLabels {
  display: flex;
}

.priceLabelsMinimum {
  display: flex;
  justify-content: left;
  width: 100%;
  font-size: var(--page-subTitle-font-size);
  margin-bottom: 10px;
}

.priceLabelsMaximum {
  display: flex;
  justify-content: right;
  width: 100%;
  font-size: var(--page-subTitle-font-size);
  margin-bottom: 10px;
}

.button {
  background-color: var(--button-color);
  color: var(--button-font-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: var(--page-subTitle-font-size);
  margin-top: 10px;
}

button:hover {
  background-color: var(--button-color-hover);
  color: var(--button-font-color-hover);
}

.colorLabel input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.colorLabel input[type="checkbox"]+label {
  font-size: 16px;
}

.sliderThumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ccc;
  box-shadow: 0px 2px 6px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderThumb.dragged {
  background-color: #548bf4;
}

.sliderTrack {
  height: 6px;
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(to right,
      #ccc 0%,
      #ccc calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
      #548bf4 calc((var(--value) - var(--min)) / (var(--max) - var(--min)) * 100%),
      #548bf4 calc((var(--max) - var(--value)) / (var(--max) - var(--min)) * 100%),
      #ccc calc((var(--max) - var(--value)) / (var(--max) - var(--min)) * 100%),
      #ccc 100%);
}

.productsContainer {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(4, 1fr);
  float: right;
}

.pageTitle {
  font-size: 100%;
  color: black;
  font-weight: 500;
  position: relative;
  margin-bottom: 15px;
}

.categories {
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
}

.ImageContainer {
  width: 100px;
  height: 95px;
}

.categoryImage {
  width: 100px;
  height: 95px;
}

.subCategories {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  column-gap: 2.2%;
}

.categoryTitle {
  color: var(--page-content-font-color);
  font-weight: 600;
  height: 25px;
  font-size: smaller;
  text-align: center;
}

.categoryImage {
  display: block !important;
}

.bannerImage {
  width: 100%;
  height: 100px;
  object-fit: fill;
}

.categoryHeading {
  color: var(--page-content-title-font-color);
  font-size: var(--page-content-font-size);
  text-align: var(--page-heading-text-align);
}

.categoryMainHeading {
  color: var(--page-content-title-font-color);
  font-size: var(--page-heading-font-size);
  text-align: var(--page-heading-text-align);
}

.card {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.cardLink {
  display: block;
  height: 100%;
}

.cardImage {
  width: 100%;
  height: 350px;
  flex-shrink: 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  flex-grow: 1;
  height: 100px;
}

.brandName {
  font-size: var(--card-title-font-size);
  text-align: center;
  color: var(--card-title-font-color);
}

.cardTitle {
  font-size: var(--card-subtitle-font-size);
  margin: 3px 0;
  text-align: center;
  font-weight: normal;
  color: var(--card-subtitle-font-color);
}

.listCardTitle {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 126.461%;
  display: block;
  width: 100%;
  color: var(--page-title-font-color);
  padding-bottom: 10px;
}

.cardPrice {
  font-size: var(--card-price-font-size);
  font-weight: var(--card-price-font-weight);
  padding-bottom: 4px;
  text-align: left;
  display: flex;
}

.listCardPrice {
  color: var(--page-title-font-color);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 120%;
  display: block;
  width: 100%;
}

.ButtonContainer {
  padding: 10px;
  height: 50px;
}

.wishlistButton {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid black;
  width: 100%;
}

.colorGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.colorLabel {
  display: flex;
  align-items: center;
  font-size: var(--page-content-font-size);
}

.colorLabel input {
  margin-right: 5px;
}

.rangetrackcontainer {
  height: 36px;
  display: flex;
  width: 100%;
}

.rangeThumbInner {
  height: 16px;
  width: 10px;
  background-color: #ccc;
}

.rangeThumb {
  height: 5px;
  width: 10px;
  border-radius: 50%;
  background-color: #ccc;
  box-shadow: 0px 2px 6px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rangeThumb.dragged {
  background-color: #548bf4;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.gridCard {
  width: 100%;
  background-color: white;
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.6s ease,
    box-shadow 0.3s ease;
}

.addToCartButton {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--button-color);
  color: var(--button-font-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.listaddToCartButton {
  display: none;

  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border: none;
  padding: 50px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.gridImage {
  width: 100%;
  height: 350px;
  padding-left: 9%;
  padding-right: 9%;
  flex-shrink: 0;
  display: block;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  z-index: 1;
}

.imageAndOfferLogoContainer {
  display: flex;
  position: relative;
}

.offerContainer {
  display: flex;
  position: absolute;
  height: 25px;
  min-width: 47px;
  justify-content: center;
  align-items: center;
  left: 15px;
  top: 10px;
  background-color: #cc0c39;
  z-index: 2;
}

.offerPercentage {
  color: var(--offer-percentage-font-color);
  font-size: var(--offer-percentage-font-size);
  padding: 5px;
}

.priceContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.discountedPriceText {
  color: green;
}

.gridContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100px;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  border: 1px solid #e5e5e5;
  border-top: none;
  position: relative;
  top: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listCard {
  display: flex;

  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
  transition: transform 0.2s ease;
}

.listCard a {
  height: 400px;
  width: 100%;
  display: flex;
}

.listImageContainer {
  width: 30%;
  display: flex;
}

.listImage {
  width: 100%;
  height: 400px;
  object-fit: fill;
  border-right: 1px solid #e5e5e5;
  float: left;
  position: relative;
}

.listBrandName {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 126.461%;
  display: block;
  width: 100%;
  color: var(--page-title-font-color);
  padding-bottom: 10px;
}

.listContent {
  width: 70%;
  padding: 30px;
}

.wishlistButton {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 1px solid black;
  width: 100%;
}

.listCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listCard:hover .listaddToCartButton {
  display: block;
  position: relative;
  width: 70%;
  margin: 10px 0;
  top: 50%;
  height: 10px;
}

.listaddToCartButton:hover {
  background-color: var(--header-background-color-light);
}

.viewToggleButtons {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  background-color: #f8f8f8;
  color: #686868;
}

.viewButtons {
  display: flex;
  margin: 10px;
}

.showProduct {
  display: flex;
  align-items: center;
  margin-left: 40%;
}

.squareIcon {
  font-size: 20px;
}

.dropdownpage {
  border: 1px solid #ccc;
  outline: none;
  height: 30px;
  width: 40px;
  margin-right: 5px;
}

.pagination {
  margin: 10px;
}

.card {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.cardLink {
  display: block;
  height: 100%;
}

.cardImage {
  width: 100%;
  height: 350px;
  flex-shrink: 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  flex-grow: 1;
  height: 100px;
}

.productContainer {
  width: calc(100% - 270px);
}

.breadCrumbs {
  margin-bottom: 0;
  padding-top: 15px;
  margin-left: 29.094px;
  margin-right: 29.109px;
  color: #666;
  font-size: 107.69%;
  gap: 10px;
  display: none;
}

.colorBox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
}

.filterAndShortRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wishListIconContainer {
  display: flex;
  justify-content: start;
}

.wishListIcon1 {
  cursor: pointer;
  color: red;
  font-size: 30px;
}

.wishListIcon2 {
  cursor: pointer;
  color: grey;
  font-size: 30px;
}

.rating {
  display: flex;
  justify-content: center;
}

.availabilityMessage {
  color: red;
}

.productModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.productModalContent {
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: #ff0000;
}

.productDetails {
  margin: 20px 0;
}

.productDetails h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.productDetails p {
  font-size: 16px;
  color: #555;
}

.activeColorOption {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.sizeBoxes {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.sizeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  position: relative;
}

.sizeBox:hover {
  background-color: #f0f0f0;
}

.selectedSizeBox {
  background-color: var(--button-color);
  color: var(--button-font-color);
}

.unavailableSizeBox {
  text-decoration: line-through;
  color: #ccc;
}

.sizeOption,
.colorOption {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.productColors {
  display: flex;
  margin-bottom: 10px;
}

.colorOption {
  width: 30px;
  height: 30px;
}

.productPrice {
  font-size: var(--page-price-font-size);
  font-weight: bold;
  margin-bottom: 10px;
  color: green;
}

.cardPrice {
  color: "red";
  font-size: var(--page-mrp-price-font-size);
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 7px;
}

.mrpPriceText {
  margin: 0px;
}

.productOfferContainer {
  display: flex;
  height: 25px;
  width: 55px;
  left: 15px;
  background-color: #cc0c39;
  z-index: 2;
  margin-bottom: 5px;
}

.productOfferPercentage {
  color: var(--offer-percentage-font-color);
  font-size: 12px;
  padding: 5px;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
}

.quantityInput {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: fit-content;
}

.quantityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0px;
}

.quantityNumber {
  text-align: center;
  width: 30px;
  height: 20px;
  border: none;
  outline: none;
  margin: 0 5px;
}

.quantityButton:hover {
  background-color: #ddd;
}

.formInputError {
  color: red;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.saleRate {
  display: flex;
  align-items: flex-end;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;

}

.reason {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.checkBox {
  margin-bottom: 2px;
}

.textArea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addToCartButtonPopup {
  margin-left: 5px;
  border-radius: 5px;
}

@media (max-width: 780px) {
  .addToCartButton {
    display: block;
  }

  .container {
    flex-direction: column;
  }

  .filterContainer {
    width: 88%;
    order: 3;
  }

  .productContainer {
    width: 100%;
    order: 2;
  }

  .viewToggleButtons {
    width: 100%;
    order: 1;
  }

  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .listCard {
    flex-direction: column;
  }

  .listCard a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .listImageContainer {
    width: 100%;
    height: auto;
    border-right: none;

    margin-bottom: 10px;
  }

  .listImage {
    object-fit: contain;
  }

  .listContent {
    width: 100%;
    padding: 10px;
  }

  .pageContainer {
    margin-left: 15px;
    margin-right: 15px;
  }

  .ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .categoryImage {
    width: 70%;
    height: 70px;
  }

  .bannerImage {
    height: 50px;
  }

  .viewToggleButtons {
    width: 89%;
    padding: 5px;
    justify-content: space-between;
  }

  .showProduct {
    margin-left: 0;
  }

  .dropdownpage {
    width: auto;
  }

  .filterAndShortRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filterContainer {
    display: none;
  }

  .filterModel {
    height: auto;
    width: auto;
  }

  .popupFilterContainer {
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
  }

  .popupFilterContainer h2 {
    background-color: var(--button-color);
    padding: 8px 10px;
    color: var(--button-font-color);
    font-size: var(--page-subTitle-font-size);
    border-radius: 4px 4px 0 0;
  }

  .filterButton {
    display: block;
  }

  .filterModel {
    display: block;
  }

  .subCategories {
    overflow-x: scroll;
  }

  .checkBox {
    margin-bottom: 0px;
  }
}

@media (max-width: 520px) {
  .offerContainer {
    width: 46px;
    height: 18px;
  }

  .offerPercentage {
    padding: 3px;
  }

  .ImageContainer {
    height: 75px;
  }

  .subCategories {
    justify-content: unset;
    height: 140px;
  }

  .pageTitle {
    margin-bottom: 0px;
  }
}