.pageHeading {
  margin-bottom: 15px;
  color: var(--page-content-title-font-color);
  font-size: var(--page-heading-font-size);
  text-align: var(--page-heading-text-align);
}

.pageFrame {
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-color: #ffffff;
}

.pageContainer {
  margin-left: var(--page-margin-left);
  margin-right: var(--page-margin-right);
  margin-top: var(--page-margin-top);
  margin-bottom: var(--page-margin-bottom);
  min-height: var(--page-min-height);
  text-align: var(--page-content-subTitle-text-align);
  color: var(--page-content-subTitle-font-color);
  font-size: var(--page-content-subTitle-font-size);
}

.title {
  color: var(--page-content-title-font-color);
  font-weight: 600;
  margin-bottom: 15px;
}

.bannerHeading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgb(17, 17, 17);
}

.bannerContainer {
  position: relative;
  text-align: center;
  color: white;
}

.bannerImage {
  margin-top: 2%;
  width: 100%;
  height: 350px;
}

.imageDescription {
  padding-top: 4%;
  display: flex;
  height: fit-content;
  align-items: center;
}

.imageContainer {
  width: 50%;
  height: 100%;
  text-align: center;
}

.section2description {
  width: 50%;
  text-align: center;
}

.image {
  height: initial;
}

.heading {
  font-weight: bold;
  font-size: x-large;
}

.bannerHeading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgb(17, 17, 17);
}

.description {
  text-align: center;
}

.pageContent {
  margin-left: var(--page-margin-left);
  margin-right: var(--page-margin-right);
  margin-top: var(--page-margin-top);
  margin-bottom: var(--page-margin-bottom);
  min-height: var(--page-min-height);
  text-align: center;
}

@media (max-width: 721px) {
  .pageFrame {
    margin-left: var(--phone-view-margin-left);
    margin-right: var(--phone-view-margin-right);
  }
}