.bod{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	position: relative;
	top:20vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #323232, #000, #323232);
}
.mai{
	margin-top: 30px;
	width: 400px;
	height: 550px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.signu{
	position: relative;
	width:100%;
	height: 100%;
    padding:  0;
	display: flex;
	flex-direction: column;
	justify-content:center;
	padding-bottom: 8vh;
}

#ch{
	display: none;
}



.labe{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.underlineput:hover{
   text-decoration: underline;
}

.inpu{
	width: 70%;
	height: 40px;
	padding-left:10px;

	background: #e0dede;
	justify-content: center;
	display: flex;
	
	margin: 20px auto;

	border: none;
	outline: none;
	border-radius: 5px;
}

.inpu2{
	width: 70%;
	padding-left:10px;
	height: 35px;
	margin-left: 15%;
	background: #e0dede;
	justify-content: center;
	display: flex;
	
	/* margin: 20px auto; */
	
	border: none;
	outline: none;
	border-radius: 5px;
}

.inpu3{
	width: 70%;
	height: 30px;
	background: #181717;
	justify-content: space-between;
	display: flex;
	padding-left:10px;

	margin-left:15%;
	
	border: none;
	outline: none;
	border-radius: 5px;
}

.inpu4{
	width: 49%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;

	border: none;
	outline: none;
	border-radius: 5px;
}

.PhoneInput{
	width:90%;

}

.PhoneInputInput{
	width: 90%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	
	/* margin: 20px auto; */
	
	border: none;
	outline: none;
	border-radius: 5px;
}

.inpu4::placeholder{
	font-size: 14.5px;
}

.butto{
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.butto:hover{
	background: #6d44b8;
}
.logi{
	width: 80%;
	height: 105%;
	margin:0 auto;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-92%);
	transition: .8s ease-in-out;
}
.logi .labe{
	color: #573b8a;
	transform: scale(.6);
}

@media (max-width: 768px) {

    .bod{
        min-height: 91.5vh;
		top:10vh
    }

	.mai{
	
		height: 82vh;

	}

	/* .logi{
		width: 80%;
		height: 100%;
		margin:0 auto;
		background: #eee;
		border-radius: 60% / 10%;
		transform: translateY(-50vh);
		transition: .8s ease-in-out;
	} */

}



#ch:checked ~ .logi{
	transform: translateY(-9vh);
}

#ch:checked ~ .logi .labe{
	transform: scale(1);	
}
#ch:checked ~ .signu .labe{
	transform: scale(.6);
}