/* Need to create CSS File for align the password popup div */
.parentDiv{
/* border: 2px solid red; */
top: 10vh;
}

@media (max-width: 768px){
    .parentDiv{
        min-height: 70vh;
        height: 23vh;
    }
}