<!-- Created by Ashish Dewangan on 04-12-2022
Reason - To add filter option when browsing data in tables -->
{% load i18n %}

<div class="filter_panel" style="width: 20vw;">
    <div class="mb-3" >
        <span class="h6">{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</span>
    </div>
    <ul>
        {% for choice in choices %}
        <!-- Start of code block by Ashish Dewangan on 23-12-2023 -->
        <!-- Modification by Om Shrivastava on 04-01-24 -->
    
        {% if choice.display != "-" and choice.display != " " %}
            <li{% if choice.selected %} class="text-success selected"{% endif %}>
                <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a>
            </li>
        {% endif %}
    
        <!-- End of modification and code block -->
    {% endfor %}
    
    </ul>
</div>
