<!-- Created by Ashish Dewangan on 04-12-2022
Reason - To show dashboard with revenue, todays orders and pending list -->

{% extends 'admin/index.html' %}
{% load admintemplates %}
{% block content %}
<div class="row">

    {% getRevenue as revenueDetail %}
    {% for revenue in revenueDetail %}
    <div class="col-12 col-sm-6 col-xl-3 mb-4 row-3">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class=" d-sm-block">
                        <h5 class="fw-extrabold mb-2">
                            {{ revenue.title }}
                        </h5>
                        <div class="shadow "
                            style="background-color: rgba(92, 228, 228, 0.688);padding:8px;">
                            <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 60%;">Total Transactions</h6>
                            <h6 class="fw-extrabold mb-2"  style="display: inline-block;width: 30%;text-align: right;">{{ revenue.totalOrders }}</h6>
                        </div>
                        <div class="shadow " style="background-color: rgba(73, 211, 73, 0.8);padding:8px;">
                            <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 60%;">Completed Transactions</h6>
                            <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 30%;text-align: right;">{{ revenue.totalPaidOrders }}</h6>
                        </div>
                        <div class="shadow x" style="background-color: rgba(235, 235, 121, 0.8);padding:8px;">
                            <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 60%;">Pending Transactions</h6>
                            <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 30%;text-align: right;">{{ revenue.totalPendingOrders }}</h6>
                        </div>
                        <div class="shadow " style="background-color: rgba(227, 121, 121, 0.7);padding:8px;">
                            <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 60%;">Cancelled Transactions</h6>
                            <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 30%;text-align: right;">{{ revenue.totalCancelledOrders }}</h6>
                        </div>
                        <h5 style="width:100%;padding-top:15px;border-bottom:5px solid grey"></h5>
                        <h6 class="fw-extrabold mb-2" style="display: inline-block;width: 60%;">Total Revenue</h6>
                        <h5 class="fw-extrabold mb-2" style="display: inline-block;width: 30%;text-align: right;">
                            {% if revenue.totalRevenue %} Rs.{{revenue.totalRevenue|floatformat:2}} {% else %} 0 {% endif %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




<div class="row">
    <div class="col-12 col-sm-6 col-xl-3 mb-4 row-3">
        <div class="card border-0 shadow">
            <div class="card" style="padding-top:15px;padding-bottom:15px;">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class=" d-sm-block">
                        <div id="container" >
                            <h6 style="text-align: center;">Today's Transactions</h6>
                            <canvas id="todaysChart" >
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 mb-4 row-3">
        <div class="card border-0 shadow">
            <div class="card" style="padding-top:15px;padding-bottom:15px;">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class=" d-sm-block">
                        <div id="container" >
                            <h6 style="text-align: center;">This Week's Transactions</h6>
                            <canvas id="thisWeeksChart">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 mb-4 row-3">
        <div class="card border-0 shadow">
            <div class="card" style="padding-top:15px;padding-bottom:15px;">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class=" d-sm-block">
                        <div id="container" >
                            <h6 style="text-align: center;">This month's Transactions</h6>
                            <canvas id="thisMonthsChart">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 mb-4 row-3" >
        <div class="card border-0 shadow" >
            <div class="card" style="padding-top:15px;padding-bottom:15px;">
                <div class="row d-block d-xl-flex align-items-center" >
                    <div class="d-sm-block" >
                        <div id="container" >
                            <h6 style="text-align: center;">This Year's Transactions</h6>
                            <canvas id="thisYearsChart"  >
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="fs-5 fw-bold mb-0"> Today's Transactions </h2>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <tbody>
                        <tr style="background-color:rgba(220, 231, 231, 0.912) ;">
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Order Number
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Payment Status
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                User
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Amount
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Date
                            </th>
                        </tr>
                        {% getTodaysOrders as todaysOrders %}
                        {% if todaysOrders %}
                        {% for todaysOrder in todaysOrders %}
                        <tr>
                            <td class="fw-bolder text-gray-500">
                                <a href="back_site/transaction_history/{{todaysOrder.orderId}}/change/">{{ todaysOrder.orderData.order_no }}</a>
                            </td>
                            <td class="fw-bolder text-gray-500">
                                {{todaysOrder.orderData.payment_status }}
                            </td>
                            <td class="fw-bolder text-gray-500">
                                <a href="back_site/user/{{todaysOrder.userId}}/change/"> {{todaysOrder.orderData.user_no }}</a>
                            </td>
                            <td class="fw-bolder text-gray-500">
                                Rs. {{ todaysOrder.orderData.grand_total }}
                            </td>
                            <td class="fw-bolder text-gray-500">
                                {{ todaysOrder.orderData.date }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                        <td>Not available yet</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="fs-5 fw-bold mb-0"> Pending Transactions </h2>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <tbody>
                        <tr  style="background-color:rgba(220, 231, 231, 0.912) ;">
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Order Number
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Payment Status
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                User
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Amount
                            </th>
                            <th class="text-gray-900" style="font-weight:800" scope="row">
                                Date
                            </th>
                        </tr>
                        {% getPendingOrders as pendingOrders %}
                        {% if pendingOrders %}
                        {% for pendingOrder in pendingOrders %}
                        
                        <tr>
                            <td class="fw-bolder text-gray-500">
                                <a href="back_site/transaction_history/{{pendingOrder.orderId}}/change/">{{ pendingOrder.orderData.order_no }}</a>
                            </td>
                            <td class="fw-bolder text-gray-500">
                                {{pendingOrder.orderData.payment_status }}
                            </td>
                            <td class="fw-bolder text-gray-500">
                                <a href="back_site/user/{{pendingOrder.userId}}/change/"> {{pendingOrder.orderData.user_no }}</a>
                            </td>
                            <td class="fw-bolder text-gray-500">
                                Rs. {{ pendingOrder.orderData.grand_total }}
                            </td>
                            <td class="fw-bolder text-gray-500">
                                {{ pendingOrder.orderData.date }}
                            </td>
                        </tr>
                        
                        {% endfor %}
                        {% else %}
                        <tr>
                        <td>Not available yet</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% block scripts %}
{% getPieChartData as pieChartData %}
{% with labels=pieChartData.thisYear.labels thisyearsScore=pieChartData.thisYear.scores todaysScores=pieChartData.today.scores thisWeeksScores=pieChartData.thisWeek.scores thisMonthsScores=pieChartData.thisMonth.scores %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    // jquery function
    
    $(document).ready(function(){
        var todaysChartctx = document.getElementById('todaysChart').getContext('2d');
        var todaysChart = new Chart(todaysChartctx, {
            type: 'pie',
            data: {
                labels: [{% for label in labels %} "{{ label }}" , {% endfor %}],
                datasets: [{
                    label: 'This years order',
                    data: [{% for score in todaysScores %} {{ score }} , {% endfor %} ],
                    backgroundColor: [
                        'rgba(235, 235, 121, 0.8)', 'rgba(73, 211, 73, 0.8)', 'rgba(227, 121, 121, 0.7)'
                    ],
                }],
            },
            options: {
                responsive: true
            }
        });

        var thisWeeksChartctx = document.getElementById('thisWeeksChart').getContext('2d');
        var thisWeeksChart = new Chart(thisWeeksChartctx, {
            type: 'pie',
            data: {
                labels: [{% for label in labels %} "{{ label }}" , {% endfor %}],
                datasets: [{
                    label: 'This years order',
                    data: [{% for score in thisWeeksScores %} {{ score }} , {% endfor %} ],
                    backgroundColor: [
                        'rgba(235, 235, 121, 0.8)', 'rgba(73, 211, 73, 0.8)', 'rgba(227, 121, 121, 0.7)'
                    ],
                }],
            },
            options: {
                responsive: true
            }
        });

        var thisMonthsChartctx = document.getElementById('thisMonthsChart').getContext('2d');
        var thisMonthsChart = new Chart(thisMonthsChartctx, {
            type: 'pie',
            data: {
                labels: [{% for label in labels %} "{{ label }}" , {% endfor %}],
                datasets: [{
                    label: 'This years order',
                    data: [{% for score in thisMonthsScores %} {{ score }} , {% endfor %} ],
                    backgroundColor: [
                        'rgba(235, 235, 121, 0.8)', 'rgba(73, 211, 73, 0.8)', 'rgba(227, 121, 121, 0.7)'
                    ],
                }],
            },
            options: {
                responsive: true
            }
        });

        var thisYearsChartctx = document.getElementById('thisYearsChart').getContext('2d');
        var thisYearsChart = new Chart(thisYearsChartctx, {
            type: 'pie',
            data: {
                labels: [{% for label in labels %} "{{ label }}" , {% endfor %}],
                datasets: [{
                    label: 'This years order',
                    data: [{% for score in thisyearsScore %} {{ score }} , {% endfor %} ],
                    backgroundColor: [
                        'rgba(235, 235, 121, 0.8)', 'rgba(73, 211, 73, 0.8)', 'rgba(227, 121, 121, 0.7)'
                    ],
                }],
            },
            options: {
                responsive: true
            }
        });
        // $("#thisYearsChart").click(
        //     function(evt){
        //         var activePoints = thisYearsChart.getElementsAtEvent(evt);
        //         if(thisYearsChart.data.labels[activePoints[0]["_index"]]=="Cancelled Orders" ){
        //             alert("Cancelled "+ thisYearsChart.data.datasets[0].data[activePoints[0]["_index"]])
        //         }
        //         if(thisYearsChart.data.labels[activePoints[0]["_index"]]=="Completed Orders"){
        //             alert("Completed "+ thisYearsChart.data.datasets[0].data[activePoints[0]["_index"]])
        //         }
        //         if(thisYearsChart.data.labels[activePoints[0]["_index"]]=="Pending Orders" ){
        //             alert("Pending "+ thisYearsChart.data.datasets[0].data[activePoints[0]["_index"]])
        //         }
        //     }
        // );
    });
   
    
    </script>
{% endwith %}
{% endblock scripts %}
{% endblock %}