@import '../../root.css';

@font-face {
        font-family: "MyFont";

    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}


.scrolling {
    max-height: 100vh;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */

}

.resDetail {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scrolling::-webkit-scrollbar {
    /* display:none */
}

.hovers:hover {
    color: black;
}

.shopbtn1:hover {
    background-color: #323232;
    color: white;
}

.Container {
    /* position: relative; */
    /* top:24vh; */
    padding-top: 160px;
    /* margin-bottom: 24vh; */
    /* max-height: 120vh;
    overflow: auto; */
    width: 100%;
    background-color: var(--backgroundColorSecondary);
    display: flex;
    justify-content: center;
}




.centerContainer {

    width: 85%;
    min-height: 70vh;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.containerHeader {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: var(--textColorPrimary);
    display: flex;
    justify-content: start;
}

.main {
    width: 100%;
    display: flex;

}

.column1 {
    width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 8px;
}

.column2 {
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 8px;
}

.column1header {

    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
}

.column2header {
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
}

.column2header1 {
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
}

.column2header1:hover {
    color: #828282;
}

.column1text {
    width: 100%;
    height: 60px;
    color: black;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: rgba(180, 180, 180, 0.3) solid 0.9px;
}

.table {
    width: 100%;
    background-color: var(--backgroundColorSecondary);
    border: #323232 solid 1px;
}

.tablerowhead {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundColorSecondary);
}

.tablerowheadtable {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundColorSecondary);
}

.tablerowhead2 {
    display: flex;
    justify-content: space-between;
}

.rowheadText {
    width: 14%;
    min-height: 40px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowText {
    width: 14%;
    min-height: 40px;
    text-align: center;
    /* Modification and addition by Om Shrivastava on 16-11-23
    Reason : Need to apply the global color */
    /* color: #7c7c7c; */
    color: var(--textColorPrimary);
    /* End of modification and addition by Om Shrivastava on 16-11-23
    Reason : Need to apply the global color */

    display: flex;
    flex-direction: column;
    justify-content: center;
}



.userinfoText {
    color: black;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
        font-family: var(--fontFamily);

    white-space: nowrap;
}

.userinfoText3 {
    color: black;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
        font-family: var(--fontFamily);

}

.userinfoTextHIDE {
    display: none;
    color: black;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
        font-family: var(--fontFamily);

}

.userinfoText2 {
    color: black;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
        font-family: var(--fontFamily);

}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.rowitem1 {
    width: 50%;
    min-height: 40px;
    text-align: start;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowitem2 {
    width: 15%;
    min-height: 40px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.rowitem3 {
    width: 50%;
    min-height: 40px;
    text-align: start;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.totalBox {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: end;
}

.inputr {
    height: 70px;
    width: 90%;
}

.userinfoLable {
    color: black;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    /* Modification and addition by Om Shrivastava on 25-11-23
    Reason : Set the font weight */
    /* font-weight: 600; */
    font-weight: 400;

        font-family: var(--fontFamily);

}

.userinfoText {
    color: #212121;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-weight: 800;
        font-family: var(--fontFamily);

}

.inputr:focus {
    border-color: white;
}

.firstInput {
    width: 100%;
    background: inherit;
    height: 36px;
    border: 1px solid rgba(140, 140, 140, 0.5);
    padding: 0 8px;
    font-size: 14px;
    color: black;
    background-color: var(--backgroundColorSecondary) !important;
}

.box {
    width: auto;
    height: 100px;
}

.textlight1 {
    width: 100%;
    height: 40px;
    display: flex;
    margin: 5px;
    justify-content: space-around;
}

.userInfoButton {
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #323232;
    /* color: white !important; */
    text-align: center;
    opacity: 1;
        font-family: var(--fontFamily);

    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 18px;
    -webkit-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    border-width: 2px;
    border-style: solid;
    border-color: #323232;
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    text-decoration: none;
    border-radius: 0;
}

.imgresponsive {
    width: 30%;
}

.imgTitle {
    margin-left: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1000px) {
    .rowtexthide {
        display: none;
    }

    .rowheadText {
        width: 30%;
        min-height: 40px;

    }

    .Container {
        /* top:12vh; */
        padding-top: 70px;
    }
}

@media (max-width: 768px) {
    .details {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px
    }

    .resDetail {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .Container {
        /* top:12vh; */
        padding-top: 70px;
    }

    .foot {
        margin-top: -60px;
    }

    .rowheadText {
        width: 30%;
    }

    .rowText {
        width: 30%;
    }

    .Container {
        /* top:12vh; */
        padding-top: 60px;
    }

    .tablerowhead {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tablerowheadtable {
        justify-content: start;
        gap: 8px
    }

    .tablerowhead2 {
        display: none;
    }

    .column1 {
        display: none;
    }

    .column2 {
        width: 100%;

    }

    .rowitem3 {
        width: 100%
    }

    .userinfoTextHIDE {
        display: block;
        width: 20%;
    }

    .rowitem2 {
        justify-content: start;
        flex-direction: row;
        /* Modification and addition by Om Shrivastava on 16-11-23
        Reason : Set the alignment  */
        /* padding-left: 15px; */
        padding-left: 190px;
        /* End of Modification and addition by Om Shrivastava on 16-11-23
        Reason : Set the alignment */
        width: 100%;
    }

    .userinfoText3 {
        width: 20%;
    }

    .box {
        padding-top: 20px;
    }

  

}