@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.Container{
    position: relative;
    top:24vh;
    margin-bottom: 24vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.centerContainer{

    width:85%;
    min-height: 70vh;
    display:flex;
    flex-direction: column;
    gap:20px;
    
}


.containerHeader{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color:black;
    display: flex;
    justify-content: start;
}

.main{
    width:100%;
    display: flex;
    
}

.column1{
    width:30%;
    min-height:100%;
    display:flex;
    flex-direction: column;
    margin:10px;
    padding: 8px;
}

.column2{
    width:70%;
    min-height:100%;
    display:flex;
    flex-direction: column;
    margin:10px;
    padding: 8px;
}

.column1header{
  
 width: 100%;
 height: 40px;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 1.4px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 font-weight:500;
}

.column2header{
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
}

.column1text{
    width: 100%;
    height: 60px;
    color:#8c8c8c;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    font-weight:500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: rgba(180, 180, 180, 0.3) solid 0.9px;
}

.table{
    width:100%;
   background-color: white;
    border: #323232 solid 1px;
}

.tablerowhead{
    display:flex;
    justify-content: space-between;
}

.tablerowheadtable{
    display:flex;
    justify-content: space-between;
}

.tablerowhead2{
    display:flex;
    justify-content: space-between;
}

.rowheadText{
    width:14%;
    min-height: 40px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowText{
    width:14%;
    min-height: 40px;
    text-align: center;
    color: #7c7c7c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.userinfoText{
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
}

.userinfoText3{
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
}

.userinfoTextHIDE{
    display: none;
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
}
.userinfoText2{
    color: black;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
}

.rowitem1{
    width:50%;
    min-height: 40px;
    text-align: start;
    color: #8c8c8c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rowitem2{
    width:15%;
    min-height: 40px;
    text-align: center;
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.rowitem3{
    width:50%;
    min-height: 40px;
    text-align: start;
    color: #8c8c8c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.totalBox{
    width:100%;
    height:200px;
    display: flex;
    justify-content: end;
}

.inputr{
    height:70px;
    width:90%;
}

.inputr:focus{
    border-color: white;
}

.firstInput{
    width: 100%;
    background: inherit;
    height: 36px;
    border: 1px solid rgba(140, 140, 140, 0.5);
    padding: 0 8px;
    font-size: 14px;
    color: black;
}

.box{
    width:200px;
    height:100px;
}

.textlight1{
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-around;
}

.userInfoButton{
     width:150px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #323232;
    color: white !important;
    text-align: center;
    opacity: 1;
    font-family: 'MyFont';
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 18px;
    -webkit-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    border-width: 2px;
    border-style: solid;
    border-color: #323232;
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    text-decoration: none;
    border-radius: 0;
}

.imgresponsive{
    width:30%;
}

.imgTitle{
    margin-left:10px;
    width:60%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

@media (max-width: 1000px) {
.rowtexthide{
    display: none;
   }
   .rowheadText{
    width:30%;
    min-height: 40px;

}
}

@media (max-width: 768px) {
    .rowheadText{
        width:80%;
    }
    
    .rowText{
        width:78%;
    }

    .Container{
        top:12vh;
        margin-bottom: 12vh;
    }

    .tablerowhead{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tablerowhead2{
        display:none;
    }
    .column1{
       display: none;
    }
    
    .column2{
        width:100%;
    
    }

    .rowitem3{
        width:100%
    }

    .userinfoTextHIDE{
        display: block;
        width: 20%;
    }
    .rowitem2{
        justify-content: start;
        flex-direction: row;
        padding-left: 15px;
        width:100%;
    }
    .userinfoText3{
        width:20%;
    }

   .box{
    padding-top: 20px;
   }

  
   
}
