@import '../../root.css';
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


.heading{
  color:black;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-left: 15px;
  width:85%;
  font-family: var(--fontFamily);
  font-weight: bold;
}

.apply{
  width:40%;
  margin-right:15px;
  height:30px;
  text-align:center;
  background-color:black;
  color:white;
}

.apply:hover{
  background-color:white;
  color:black;
}

.price{
  font-size: 17px;
     font-family: var(--fontFamily);

  
}

.qtyContainer{
  width: 100%;
  height:20px;
  display: flex;
}

.radius{
  width:auto;
  display: flex;
  background-color:#ededed;
  padding-top: 2px;
  padding: 2px;
  border-radius: 10px;
}

.quantity{
  width:auto;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color:#444
}

.operatorContainer{
  padding-left: 20px;
  display: flex;

  justify-content: flex-start;
  gap:10px;
}

.size{
  color: var(--textColorSecondary);
  font-size: 15px;
  font-weight: 500;
}
.delete{
  padding-left: 0;
  transform: rotateY(0deg) rotate(0deg); /* needs Y at 0 deg to behave properly*/
  transition: transform 0.5s;
}
.delete:hover{
  transform:  rotateY(0deg) rotate(90deg); /* notice the order */
  cursor: pointer;
  border-radius: 30px;
  padding-left:0px;
  background-color: white;
}

.shipping{
  font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--textColorSecondary);
    font-weight: 600;
}

.showSize{
  color: black;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.footerCon{
  width:100%;
  height: auto;
  background-color:  var(--backgroundColorSecondary);
 

}

.increament{
 
  border:none;
  border-radius:5px;
  background:#ededed;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner{
  display:"flex";
  flex-direction: column;
  background-color:  var(--backgroundColorSecondary);
  /* padding: .2rem; */

}

.summ{
 
     font-family: var(--fontFamily);

  font-weight: 600;
  margin: 15px;
  padding-top: 20px;
  color:#4f4f4f;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 2.5px;
}


.subTotal{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin:15px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.4px;
  color:var(--textColorSecondary);
     font-family: var(--fontFamily);

}

.shopbtn1{
  width: 50%;
  height: 40px;
  text-align: center;
  padding:4px 0;
  /* margin:5px; */
  background-color: var(--btnBackgroundColorPrimary);
  color:var(--btnTextColorPrimary);
  font-size: 13px;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    opacity: 1;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 18px;
    -webkit-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    border-width: 1px;
    border-style: solid;
    font-weight: 500;
    border:2px solid var(--btnBorderColorPrimary);
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    text-decoration: none;
}

.userInfoButton{
  width:50% !important;
 font-size: 13px;
 cursor: pointer;
 letter-spacing: 2px;
 background-color: var(--btnBackgroundColorSecondary) !important;
 color: var(--btnTextColorSecondary) !important;
 text-align: center;
 opacity: 1;
    font-family: var(--fontFamily);

 position: relative;
 font-weight: normal;
 text-transform: uppercase;
 padding: 0 18px;
 -webkit-transition: all 250ms ease 0s;
 -o-transition: all 250ms ease 0s;
 transition: all 250ms ease 0s;
 border-width: 2px;
 border-style: solid;
 border: 2px solid var(--btnBorderColorSecondary) !important;
 -webkit-border-image: initial;
 -o-border-image: initial;
 border-image: initial;
 text-decoration: none;
 border-radius: 0;

}

.gaping{
  height:50%;
  display:flex;
  flex-direction:column;
}

.userInfoButton:hover{
  background-color: var(--btnHoverBackgroundColorSecondary) !important;
  color:var(--btnTextHoverColorSecondary) !important;
  border:1px solid var(--btnBorderHoverColorSecondary) !important;
}

.shopbtn1:hover{
  background-color: var(--btnHoverBackgroundColorPrimary);
  color: var(--btnTextHoverColorPrimary);
  border: 1px solid var(--btnBorderHoverColorPrimary);
}

.shopbtn2{
  width: 50%;
  height: 40px;
  text-align: center;
  padding:7px 0;

  background-color: var(--btnBackgroundColorSecondary);
  color:var(--btnTextColorSecondary);
  /* margin:5px; */
  font-size: 13px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;

    background-color: var(--btnBorderColorSecondary);
    color: white ;
    text-align: center;
    opacity: 1;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 18px;
    -webkit-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    border-width: 2px;
    border-style: solid;
    border-color: #323232;
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    text-decoration: none;
}

.shopbtn2:hover{
  background-color: var(--btnHoverBackgroundColorSecondary);
  color: var(--btnTextHoverColorSecondary);
  border: 2px solid var(--btnBorderHoverColorSecondary);
}


.promo{
  margin:10px 0;
  padding: 10px 0;
  display:flex;
  flex-direction: row;
}

.buttons{
  padding: 30px 15px;
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  background-color: var(--backgroundColorSecondary) !important;
}





.container {
    margin-top: 0;
    width: 100%;
    height: 45%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0;
  }

 
  .container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    background-color: #efe9e9;
  }
  .image {
    width: 40%;
    height: auto;
    margin: 12px;
    margin-top: 8px;
    object-fit: cover;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .container2 {
    flex: 0 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
  }

  .container3 {
    flex: 0 0 auto;
    width: 200px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .container4 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
  }
  .text {
    width: auto;
    font-size: 1.1em;
    font-style: normal;
    margin-top: 1.55%;
    font-family: Courier New;
    font-weight: 400;
    margin-left: 5%;
  }
  .text1 {
    font-size: 0.9em;
    
  
  }
  .container5 {
    flex: 0 0 auto;
    left: 0px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text2 {
    font-weight: 400;
    font-size: 1em;
    font-family: Courier New;

  }
  .button {
    width: auto;
    text-align: center;
  }

  .column1{
    max-width:30%;
    padding:0 10px;
    max-height: 220px;
  }

  .column2{
    width:65%;
    /* max-height: 210px; */
    display:flex;
    flex-direction:column;
  }


  @media (max-width: 768px) {

    .gaping{
    
      height: 15px;

    }


    .userInfoButton{
      width:100% !important;
    }

    .summ{
     
     justify-content: center;
    font-weight: 600;
    color:#323232
    }

    .column1{
      min-width:30%;
      /* height: 70%; */
      padding: 0px;
    }
  
    .column2{
      width:65%;
      display:flex;
      flex-direction:column;
    }

    .heading{
      margin-left:15px;
      color:black;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 1.5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: var(--fontFamily);

    }

    .buttons{
      margin-top:-25px;
      padding: 30px 15px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      background-color:  var(--backgroundColorSecondary) !important;
    }

    .shopbtn1{
      width: 100%;
      margin:5px;
    }

    .shopbtn2{
      width: 100%;
      margin:5px;
    }

    .subTotal{
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 1.2px;
    }

    .quantity{
       font-weight: 500;
       font-size: 14px;
    }

    .showSize{
      font-weight: 600;
      font-size: 15px;
    }

  }
 



  