@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
@import '../../root.css';  

.ant-drawer-body{
    padding: 0%;
    background-color: var(--backgroundColorPrimary);
    /* background-color: red; */

}
.ant-drawer-header{
    /* background-color: var(--backgroundColorPrimary); */
    background-color: red;

}

.ant-popover-inner-content {
    background-color: var(--backgroundColorPrimary);
    
}

.ant-modal-footer{
    display:flex;
    flex-direction: row;
}

.ant-modal-header{
    background-color: #8c8c8c;
}

.ant-modal-title{
    color:var(--textColorPrimary);
    font-size: 22px;
  line-height: 26px;
  letter-spacing: 2.5px;
  margin-left: 15px;
  font-family: var(--pagesFontFamily);

}

.ant-popover-buttons {
    display: flex;
    justify-content: space-between;
}

.ant-btn .ant-btn-primary{
    background:#5c5c5c;
    color: white;   
}


.ant-modal-confirm .ant-modal-confirm-btns {
    text-align: center;
}

.ant-notification {

    margin-top: 5vh !important;

}


.ant-btn-primary {
    /* Modification and addition by Om Shrivastava on 24-11-23
    Reason : Set the width  */
    /* width:30%; */
    width:50%;
  /* End of modification and addition by Om Shrivastava on 24-11-23
    Reason : Set the width  */
    min-height: 35px;
    background:black;
    color:white;
    font-size: 16px;
    font-family: var(--pagesFontFamily);

    border: none;
    letter-spacing: 2px;
    border: 0px solid white;
}

.Toastify__toast-icon{
    display: none !important;
}

.Toastify__progress-bar{
    visibility: hidden;
}
/* Addition by Om shirvastava on 25-11-23
Reason : Set the hover property */
.ant-btn-primary:hover {
    background:black;
    color:white;
    border: none;
}
/* End of Addition by Om shirvastava on 25-11-23
Reason : Set the hover property */
.ant-btn:focus{
    background-color: black;
    color:white;
    border: none;
}


.ant-btn-default {
    /* Modification and addition by Om Shrivastava on 24-11-23
    Reason : Set the width  */
    /* width:30%; */
    width:50%;
  /* End of modification and addition by Om Shrivastava on 24-11-23
    Reason : Set the width  */
    background:black;
    color:white;
    min-height: 35px;
    font-size: 16px;
    font-family: var(--pagesFontFamily);

    letter-spacing: 2px;
    border: 0px solid white;

}


/* .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color:white !important;
} */

.css-ahj2mt-MuiTypography-root{
color:white
}


.ant-notification-center {
    left: 50%;
    bottom: 50% !important;
    margin-right: 30%;
    transform: translate(-50%, -50%);
  }

.ant-modal-content{
    background-color: #8c8c8c;
    color:white
}

.anticon-close-circle{
    display:none;
}

.ant-modal-confirm-body .ant-modal-confirm-title{
    color:white;
    letter-spacing: 1.5px;
}

.ant-btn-default:hover {
    background:black;
    color:white;
}

.anticon-exclamation-circle{
    display:none;
}


.ant-popover-message-title{
    color:#212121;
    margin-left: -15px;
    font-size: 15px;
    width:300px;

}

 .carousel-control-prev-icon {
    background-color: white;
    border-radius:30px;
    width:3rem;
    height:3rem;
    opacity: 1;

    background-image: url(../../assets/photos/right_paint.png);

}

.ant-drawer-body::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 900px){
    .ant-notification {
        margin-top: 5vh !important;
    }
}

@media screen and (max-width: 800px){
.rcw-widget-container {
    height: 70vh !important;

}}

.carousel-control-next-icon{
    background-color: white;
    border-radius:30px;
    width:3rem;
    height:3rem;
    opacity: 1;

    background-image: url(../../assets/photos/left_paint.png);

}

.carousel-control-prev-icon:hover,.carousel-control-next-icon:hover{
opacity: 1;
}

.carousel-control-prev-icon::after,.carousel-control-next-icon::after{
    opacity: 1;
}

 .carousel-control-prev-icon::before,.carousel-control-next-icon::before{
    opacity: 1;
 }

 .carousel-control-prev-icon:focus,.carousel-control-next-icon:focus{
     opacity: 1;
 }    

 .carousel-control-next, .carousel-control-prev{
    opacity: 1;
 }

 .kVtMtA {
    left:-2% !important;
 }

 @media print {
    
    #invoice{
        width:100vw !important
    }

    #main{
        width:100vw !important;
    }

    #header{
        width: 90vw !important;
        justify-content: space-between;
    }

    #footer{
        width: 87vw !important;
        margin: auto;
    }

    body * {
      visibility: hidden;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
      -webkit-print-color-adjust: exact !important;

    }
    #section-to-print {
      position: absolute;
      left: 0;
      top: 0;
    }

  }
  

 .bhRnqO {
    right:-2% !important;
 }

 .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    position: relative;
    left: 10px;
    bottom: 5px;
    z-index: 50;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background:white;
      color: black;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -15px; 
  }

  /* Youtube section hidding

.ytp-chrome-top{
    display: none !important;
  }

  .ytp-large-play-button .ytp-button .ytp-large-play-button-red-bg{
    display: none !important;
  } */

  @media (min-width: 768px) {

    .react-multi-carousel-item{
        margin-left:10px;
        margin-right:10px;
        max-width: 300px;
     }
  }


  @media (max-width: 768px) {
    /* .react-multi-carousel-item{
        margin-left:0px;
        max-width: 300px;
     } */

     .badge {
        
        left: 15px;
        bottom: 0;
        z-index: 50;
      }
  }