/* .ant-drawer-title{
  width: 100%;
  text-align: center;
}
.ant-drawer-close{
  width: 10%; */
/* } */
.likeTitle{
  min-width: 300px !important;
  text-align: start !important;
}
.likeSVG{
  width:2rem !important;
  height:2rem !important;
  color: black !important;
  text-align: left !important;
  /* margin-right: 100%; */
}