/* @import "@fontsource/noto-serif"; */
/* @import "@fontsource/lato"; */
/* @import "@fontsource/merriweather"; */
/* @import "@fontsource/montserrat"; */
/* @import "@fontsource/oswald"; */
/* @import "@fontsource/open-sans"; */

.mainDivDesign{
  /* display: grid;
  grid-template-columns: auto auto; */
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.container {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    background-color: #efe9e9;
  }
  .image {
    width: 40%;
    height: auto;
    margin: 12px;
    margin-top: 8px;
    object-fit: cover;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .container2 {
    flex: 0 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
  }

  .container3 {
    flex: 0 0 auto;
    width: 200px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .container4 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
  }
  .text {
    width: auto;
    font-size: 1.1em;
    font-style: normal;
    margin-top: 1.55%;
    font-family: Courier New;
    font-weight: 400;
    margin-left: 5%;
  }
  .text1 {
    font-size: 0.9em;
  }
  
  .container5 {
    flex: 0 0 auto;
    left: 0px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text2 {
    font-weight: 400;
    font-size: 1em;
    font-family: Courier New;

  }
  .button {
    width: auto;
    text-align: center;
  }
  .divContainer{
    width: 50%;
    margin-bottom: 3%;
  }
  .wishContainer{
    /* width: 90%; */
    /* height: 300px; */
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-left: 5%;
    margin-right: 5%;
    /* align-items: center; */
    border: 1px solid black;
  }
  .wishImage{
    /* width: 40%; 
    height: auto; */
    /* height: 170px;
    width: 140px; */
    /* height: 400px;
    width: 200px; */

    height: 150px;
    width: 100px;

  }
  .wishItem{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
  }
  .wishItemTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid yellow; */

  }
  .wishItemTitle{
    color: black;
    cursor:pointer;
    font-size: 1rem;
    padding-left: 20px;
    word-wrap: break-word;
    text-transform: capitalize;
    font-family: var(--pagesFontFamily);
    font-weight: 600;
/* border: 1px solid black; */

    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; */
  }
  .wishItemCancelButton{
    /* width: 15%;
    height: 32px; */
    /* width: 20%;
    height: 40px; */
    height: 25px;
    width: 25px;
    padding-left: 2%;
    padding-bottom: 9%;

      }

  .wishItemCancelButton:hover{
    transform: scale(1.2);
    color: red !important;
  }
  .wishItemBodyContainer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* height: 80%;
    justify-content: flex-start;
    padding-bottom: 12%;
    gap: 16px; */
  }
  .itemText{
    color: black;
    margin-left: 20px;
    /* margin-top: 10px; */
    text-transform: capitalize;
    font-weight: 500;   
    word-wrap: break-word; 
    font-family: var(--pagesFontFamily);            
  }

  .emptyWishList{
    /* Modification and addition by Om Shrivastava on 30-11-23
    Reason : Set the color  */
    /* color: #4f4f4f; */
    color: black;
/* End of Modification and addition by Om Shrivastava on 30-11-23
    Reason : Set the color  */
    height: 100%;
    padding: 15px;
    flex-direction: column;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.75px;
       font-family: var(--pagesFontFamily);

    font-weight: 500;
    /* margin: 0; */
    margin-left: 12%;
    
  }

  .para{
    font-size: 16px;
       font-family: var(--pagesFontFamily);

    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

.para2{
  font-size: 16px;
     font-family: var(--pagesFontFamily);

  text-decoration: underline;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.para2:hover{
  text-decoration: underline;
}
  


  @media (max-width: 768px) {
    .wishContainer{
      height:auto;
    }
    .container5{
      align-items: normal;
    }
    /* Addition and modification by Om Shrivastava on 01-12-23
    Reason : Set the height and width of wishlist image in mobile view */
    .wishImage{
      height: 120px;
      width: 100px;
      /* border: 2px solid red; */
    }
    .wishItemTitle{
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 0;
      width: 90%;
      /* border: 1px solid black; */
      height: 20px;

        display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
    .itemText{
      font-size: 13px;
      margin-top:3px;
      font-weight: 400;
    }
    .mainDivDesign{
      display: flex;
      flex-direction: column;
    }
    .emptyWishList{
      margin-left: 4%;
    height: 72vh;
    /* border: 1px solid red; */

    }
    .divContainer{
      width: 100%;
    }
    /* End of Addition and modification by Om Shrivastava on 01-12-23
    REason : Set the height and width of wishlist image in mobile view */
  }