/* .ant-drawer-title{
  width: 100%;
  text-align: center;
}
.ant-drawer-close{
  width: 10%; */
/* } */


/* Added by Rohan -22/12/22
Reason- design as per requirement */
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.likeTitle{
  min-width: 100% !important;
  text-align: center !important;
  font-size: 18px !important;
  letter-spacing: 1.3px;
  font-weight: 600;
  font-family: var(--fontFamily);

}
.likeSVG{
  width:2rem !important;
  height:2rem !important;
  color: black !important;
  text-align: left !important;
  margin-right: 100%;
}