.search:focus{
    outline: 0ch;
}


.slab{
    min-height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
  }
  
  .item{
     width: 40%;
     height: auto;
     margin-top: 10px;
     margin-bottom: 10px;
  }
  .searchedImage{
    height: 350px;
    width: 100%;
  }
  .price{
    font-size: 1em;
    text-align: end;
    padding: 0%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-transform: capitalize;
    word-wrap:break-word;
    max-width: 100%;
    overflow:auto;
    margin-top: 5px;
    color: black;
   }
  
   .title{
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: 1.2px;
    display:flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Rawson-Regular' !important;
    word-wrap:break-word;
    max-width: 100%;
    overflow:auto;
    margin-top: 5px;
    color: black;
   }
   @media (max-width: 768px) {
    .searchedImage{
      height: 220px;
      width: 100%;
    }
    .title,.price{
      font-size: .7rem;
    }
   }

 