
.car{

    position:relative;
    top:26vh;
    width:auto;
    height:100%;
}

.dblock{
    min-height:550px;
    object-fit:cover;
}

@media (max-width: 768px) {
    .car{
        display:none;
        position:relative;
        top:8.5vh;
        width:100%;
        height:100%;
    }

}


