
.car{

    position:relative;
    /* top:153px; */
    top:0px;

    width:auto;
    height:100%;
    background-color: var(--backgroundColorSecondary);
}

.dblock{
    /* Modification and addition by Om Shrivastava on 03-11-23
    Reason : Need to set the banner height  */
    /* min-height:550px;
    width: 100vw;
    object-fit:cover; */
    /* min-height:550px; */
    /* min-height: 15vh;
    height: 60vh;
    width: 100vw; */

    height: 100%;
    width: 100%;
    /* object-fit:cover; */
    /* End of Modification and addition by Om Shrivastava on 03-11-23
    Reason : Need to set the banner height */
}



@media (max-width:1000px){
    .car{
        position:relative;
        /* top:70px; */
    }
}

@media (max-width: 768px) {
    .car{
        /* display:none; */
        position:relative;
        /* top:70px; */
        width:100%;
        height:100%;
    }
    /* Added by Ashish dewangan on 19-11-2022
    Reason -  to make cover images responsive */
    .dblock{
        overflow: hidden;
        max-width: initial;
        /* Modification and addition by Om Shirvastava on 29-11-23
        Reason : Set the height  */
        /* height: 85vh; */
        height: 50vh;
        /* End of  Modification and addition by Om Shirvastava on 29-11-23
        Reason : Set the height   */
    }
  /* End of code addition */
}


