@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../root.css';


.rating_container {
	display:inline-flex; 
	   
    padding-left: 0%;
}




.span {
	color:var(--textColorPrimary);
	height: 0.6rem;
	width: 0.6rem;
	font-size: 1rem;
	margin: 0.5rem;
}



#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + .span {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + .span {
	cursor: pointer;
}

input[class="super-duper-happy"]:hover + .span,
input[class="super-duper-happy"]:checked + .span,
input[class="super-duper-happy"]:focus + .span {
	color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px;
}

input[class="super-happy"]:hover + .span,
input[class="super-happy"]:checked + .span,
input[class="super-happy"]:focus + .span {
	/* color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px; */
	color: white;
	background-color: black;
	padding: 00.2rem;
	
}
input[class="super-happy"]+ .span,
input[class="super-happy"] + .span,
input[class="super-happy"] + .span {
	color: black;
	font-weight: 600;
	border: 1px solid rgb(236, 222, 222);;
	/* background-color:rgb(236, 222, 222); */
}
input[class="happy"]+ .span,
input[class="happy"] + .span,
input[class="happy"] + .span {
	color: black;
	font-weight: 600;
	border: 1px solid rgb(236, 222, 222);;
	/* background-color:rgb(236, 222, 222); */
}
input[class="super-sad"]+ .span,
input[class="super-sad"] + .span,
input[class="super-sad"] + .span {
	color: black;
	font-weight: 600;
	border: 1px solid rgb(236, 222, 222);;
	/* background-color:rgb(236, 222, 222); */
}
input[class="sad"]+ .span,
input[class="sad"] + .span,
input[class="sad"] + .span {
	color: black;
	font-weight: 600;
	border: 1px solid rgb(236, 222, 222);;
	/* background-color:rgb(236, 222, 222); */
}

input[class="super-happy"]:hover + .span,
input[class="super-happy"]:checked + .span,
input[class="super-happy"]:focus + .span {
	/* color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px; */
	color: white;
	background-color: black;
	padding: 00.2rem;
	padding: 0% 10% 0% 10%;

}

input[class="happy"]:hover + .span,
input[class="happy"]:checked + .span,
input[class="happy"]:focus + .span {
	/* color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px; */
	color: white;
	background-color: black;
	padding: 00.2rem;


}

input[class="neutral"]:hover + .span,
input[class="neutral"]:checked + .span,
input[class="neutral"]:focus + .span {
	color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px;

}

input[class="sad"]:hover + .span,
input[class="sad"]:checked + .span,
input[class="sad"]:focus + .span {
	/* color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px; */
	color: white;
	background-color: black;
	padding: 00.2rem;


}

input[class="super-sad"]:hover + .span,
input[class="super-sad"]:checked + .span,
input[class="super-sad"]:focus + .span {
	/* color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px; */
	color: white;
	background-color: black;
	padding: 00.2rem;

}

input[class="super-duper-sad"]:hover + .span,
input[class="super-duper-sad"]:checked + .span,
input[class="super-duper-sad"]:focus + .span {
	color: var(--textColorPrimary);
	border: 2px solid black;
	padding: 00.2rem;
	border-radius: 3px;
}




.yrv-video-container{
	position: relative;
	padding-top: 56.25%;
	margin-bottom: 1.5em;
	}
	.yrv-video-container iframe{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
	.wp-block-embed__wrapper .yrv-video-container{
	position: initial;
	padding-top: 0;
	margin-bottom: 0;
	}
/* Modification and addition by Om Shrivastava on 24-11-23
Reason : Commented this code */
	/* .bqyzQp{
		margin: auto;
	} */
	/* End of Modification and addition by Om Shrivastava on 24-11-23
Reason : Commented this code */