@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.readyBox{
    min-width:30px;
    width:43%;
    height:30px;
    min-height: 20px;
    border: 1px solid #7c7c7c;
    display: flex;
    justify-content: center;
    gap:5px;
    padding: 4px 0px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: 'MyFont';
    
}

.readyContainer{
    width:100%;
    display:flex;
    margin-top: 10px;
    justify-content: center;
}


.readyIcon{
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin:5px 0px;
}