@import '../../root.css';
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.readyBox{
    color:var(--textColorPrimary);
    min-width:70px;
    width:auto;
    height:30px;
    min-height: 20px;
    border: 1px solid #7c7c7c;
    display: flex;
    justify-content: center;
    gap:5px;
    padding: 4px 4px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: 'MyFont';
    
}

.readyContainer{
    width:100%;
    display:flex;
    /* // Modification by Om Shrivastava on 25-11-23
    // Reason : set the margin top */
    /* margin-top: 10px; */
    margin-top: 2px;
    /* // End of Modification by by Om Shrivastava on 25-11-23
    // Reason : set the margin top */
    justify-content: center;
}
.sliderContainer{
    background-color: var(--backgroundColorSecondary);
}

.readyIcon{
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin:5px 0px;
}

.header{
        font-size: 20px;
        line-height: 28px;
        /* // Modification by Om Shrivastava on 25-11-23
    // Reason : Set the letter spacing */
    /* letter-spacing: 3px; */
    letter-spacing: 1.5px;
    /* // End of Modification by Om Shrivastava on 25-11-23
    // Reason : Set the letter spacing*/
        margin-bottom: 20px;
        white-space:nowrap;
        color:var(--textColorPrimary);
        /* Added by Om Shrivastava on 16-11-23
        Reason : Set the font family */
        font-family: var(--fontFamily);
        /* End of addition by Om Shrivastava on 16-11-23
        Reason : Set the font family */
}
/* Addition by Om Shrivastava 16-11-23
Reason : Add the class  */

.likedContain{
    font-size: 20px;
    line-height: 32px;
    /* // Modification by Om Shrivastava on 25-11-23
    // Reason : Set the letter spacing */
    /* letter-spacing: 3px; */
    letter-spacing: 1.5px;
    /* // End of Modification by Om Shrivastava on 25-11-23
    // Reason : Set the letter spacing*/
    margin-bottom: 20px;
    font-family: var(--fontFamily);
}
.productName{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: .8rem;
    color: var(--textColorPrimary);
    font-family: var(--fontFamily);
}
/* End of Addition by Om Shrivastava 16-11-23
Reason : Add the class  */

@media only screen and (max-width: 768px)  {
    
.header{
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    white-space:nowrap
  
}
}