@import '../../root.css';
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.readyBox{
    color:var(--textColorPrimary);
    min-width:70px;
    width:auto;
    height:30px;
    min-height: 20px;
    border: 1px solid #7c7c7c;
    display: flex;
    justify-content: center;
    gap:5px;
    padding: 4px 4px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: 'MyFont';
    
}

.readyContainer{
    width:100%;
    display:flex;
    margin-top: 10px;
    justify-content: center;
}
.sliderContainer{
    background-color: var(--backgroundColorSecondary);
}

.readyIcon{
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin:5px 0px;
}

.header{
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 2.5px;
        margin-bottom: 20px;
        white-space:nowrap;
        color:var(--textColorPrimary);
}

@media only screen and (max-width: 768px)  {
    
.header{
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
    white-space:nowrap
  
}
}