@import '../../root.css';
.container{
 padding-top: 143px;
 padding-bottom: 80px;
 background-color: var(--backgroundColorSecondary);
}

.headingSection{
    font-family: var(--fontFamily);
    font-weight: 500;
}
.heading{
    height:15vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1.7px;

}

.listContainer{
    width: 100%;
}

.cardContainer{
    width: 100%;
    min-height: 20vh;
    padding: 0 5%;
    display:flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    gap:auto;
    justify-content: center;
    
}

.card{
    min-width: 200px;
    flex: 0 0 31%;
    position: relative;
    overflow: hidden;
}


.img{
    /* Modification and addition by Om Shrivastava on 21-11-23
    Reason : Set the height and width  */
    /* width:100%;
    height: 100%; */
    width: 340px;
height: 440px;
    transition: all .8s ease-in;
    filter: brightness(70%);



}

.img:hover{
    transform: scale(1.1);
}

.menu{
    font-size: 24px;
    width: 100%;
    color:#f7f7f7;
    letter-spacing: 1.7px;
}

.absoluteBox{
    width: 100%;
    position: absolute;
    bottom: 15px;
    left:15px;
}

.button{
    margin-top: 10px;
    padding: 0 10px;
    min-width: 50%;
    min-height: 50px;
    border:  1px solid white;
    text-align: start;
    background-color: var(--btnBackgroundColorPrimary);
  color:white;
    
    
     /* "to left" / "to right" - affects initial color */
     background: linear-gradient(to left, transparent 50%,var(--btnBackgroundColorPrimary) 50%) right;
     background-size: 200%;
     transition: .5s ease-out;
     background-position: right;

}


/* animation from left */
.button:hover,
.button:focus {
        /* color: var(--btnTextHoverColor) !important; */
        /* background-color: var(--btnHoverBackgroundColor); */
        background-position: left;
        color: var(--btnTextColorPrimary);
}

@media (max-width:767px) {

    .heading{
        height: 8vh;
        font-size: 18px;
    }

    .container{
        padding-top: 12vh;
    }

    .card{
        min-width: 150px;
    }

    .menu{
        font-size: 15px;
    }

    .button{
        min-height: 35px;
        font-size: 14px;
    }

    .foot{
        margin-top: -100px;
    }
    .img{
        width: 220px;
        height: 220px;
    }
}