/* Created by roahn - on 18/2/23 */
.container{
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 400px;
}

.category{
    width: auto;
    /* padding: 5px; */
    min-width: 50px;
    /* margin-left: 8px; */
    height: 30px;
    font-size: 16px;
    letter-spacing: 1.7px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    transition: all .1s ease ease-in;
    /* Added by Om Shrivastava on 04-12-23
    Reason : Set the font family */
    font-family: var(--fontFamily);
    /* End of  Added by Om Shrivastava on 04-12-23
    Reason : Set the font family */
}

.pointedCategory{
    width: auto;
    padding: 0px 5px 5px 5px;
    min-width: 50px;
    height: 30px;
    /* margin-left: 8px; */
    font-size: 16px;
    letter-spacing: 1.7px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    transition: all .1s ease ease-in;
    font-weight: 500;
}

.category:hover{
    cursor: pointer;
}

.pointedCategory:hover{
    cursor: pointer;
}

.circle{
    display: flex;
    width: 8px;
    background-color: black;
    height: 8px;
    border-radius: 50%;
    margin: auto 0;
    margin-right: 5px;
}

.heading{
    font-size: 22px;
    letter-spacing: 1.7px;
    font-weight: 600;
    font-family: var(--fontFamily);

}

.BlnkCircle{
    display: flex;
    width: 12px;
    background-color: transparent;
    height: 12px;
    border:1px solid black;
    margin: 8px 0;
    margin-right: 5px;
    /* Addition by Om shrivastava on 30-11-23
    Reason : Set the font family */
    font-family: var(--fontFamily);
    /* End of  Addition by Om shrivastava on 30-11-23
    Reason : Set the font family */
}

/* Addition by Om Shrivastava on 15-12-23
Reason : Need to design of the remove filter button */
.removeFilterBtn{
    width: 48%;
    /* height: 30px;  */
    text-align: center;
    text-transform: capitalize;
    color: #212121;
    font-weight: 600;
    font-size: 12px;
    /* height: 28px; */
    letter-spacing: 1.3px;
    /* line-height: 25px; */
    /* border: 1px solid rgba(140, 140, 140, 0.4); */
}
/* End of addition by Om Shrivastava on 15-12-23
Reason : Need to design of the remove filter button */