.Container{
  /* position: relative;
  top: 23vh; */
  padding-top:23vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../../assets/font/RawsonAltRegular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


.readyBox{
  min-width:70px;
  width:auto;
  height:30px;
  min-height: 20px;
  border: 1px solid #7c7c7c;
  display: flex;
  justify-content: center;
  gap:5px;
  padding: 4px 4px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-family: 'MyFont';
  
}

.readyContainer{
  width:100%;
  display:flex;
  margin-top: 10px;
  justify-content: center;
}


.readyIcon{
  width: 8px;
  height: 8px;
  margin-right: 2px;
  margin:5px 0px;
}

.tops{
  height: 100px;
  width:100%;
  background-color: #fff;
}

.foot{
  margin-top: 0px;
}

.TopContent{
 
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
  font-family: 'MyFont';
  font-weight: 550;
  
  text-transform: uppercase;
  color:#212121
}

.filter{
  font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: 'MyFont';
  font-weight: 550;
  color:#212121


}

.bottom{
  margin-top:-2px ;
  height: 50px;
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.category{
  display: flex;
   width: 100%;;
justify-content: space-between;
 flex-wrap: wrap;
}

.slab{
  margin-top:-2px;
  min-height: 300px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap:28px;
 padding-bottom: 50px;
  justify-content: center;
}

.Container::-webkit-scrollbar{
 display:none;
}

.item{
   width: 20%;
   /* min-width: 280px; */
   height: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}

.price{
  font-size: 16px;
  font-family: 'MyFont';
  font-weight: 400;
  text-align: end;
  padding: 0%;
  display: flex;
  justify-content: center;
  
 }

 .title{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.2px;
  word-break: normal;
  display:flex;
  color:#323232;
  text-align: center;
  justify-content: center;
  text-transform:initial;
  font-family: 'MyFont' !important;
 }

 @media (max-width: 768px) {
  .Container{
    /* position: relative;
    top: 8vh */
    padding-top:12vh
  }
 }



 /* Filter */
 .containsSort{
  width:100%;
  height:auto;
  background:white;
  position:fixed;
  top:23vh;
  
  display:flex;
  flex-direction: column;
  justify-content:center

 }
 .contains{
  width:100%;
  height:80vh;
  background:white;
  position:fixed;
  top:23vh;
  right:10px;
  display:flex;
  flex-direction: column;
  justify-content:center
 }

.filterContain{
  width:100%;
  height:13%;
  background:white;
  position:fixed;
  top:23vh;
  display:flex;
  justify-content:center
}

.filterContainf{
  width:100%;
  height:13%;
  background:white;
  position:fixed;
  top:23vh;
  right:10px;
  display:flex;
  justify-content:center
}

.filterContainres{
  width:100%;
  height:13%;
  background:white;
  position:fixed;
  top:23vh;
  display:none;
  justify-content:center
}

.filterInner{
  width:90%;
  height:100%;
  display:flex;
  flex-direction:column;
}

.filterheader{
  width:100%;
  height:95%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;

}

.filterHeaderInner{
  width:100%;
  height:40%;
  display:flex;
  justify-content:space-between;
  transition: height 2s ease-in;
}

.headtitle1{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2.5px;
    font-family: 'MyFont';
    font-weight: 500;
    color: #000;
    text-transform: uppercase;

}

.headtitle2{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    color: #8c8c8c;
    text-transform: uppercase;
    font-family: 'MyFont';
    font-weight: 500;

}

.headtitle3{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.2px;
  color: #000;
  text-transform: uppercase;
  font-family: 'MyFont';
  font-weight: 500;

}


.filterbottomMain{

  display:flex;
  justify-content:center;
  margin-top: -10px;
  overflow: scroll;
  z-index: 50;

}

.filterbottomMain::-webkit-scrollbar{
   display: none;
}

.filterbottomMainsort{

  display:flex;
  justify-content:center;
  margin-top: -10px;
  overflow: scroll;
  z-index: 50;
  height:10vh;

}


.filterbottomMainInner{
  position: relative;
  padding-top: 40px;
  height:60vh;
  width:90vw;
  overflow: auto;
  display: flex;
  justify-content: space-between;

}


.mainsort{
  width:100%;
  min-height:13vh;
  padding-bottom: 20px;
  padding:0 5%;
  background:white;
  box-shadow: #212121;
  position:relative;
  top:13vh;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 80;
}

.filterbottomMainInnerSort{
 z-index: 91;
  width:100vw;
  display: flex;
  justify-content: space-between;
}

.filterbottomMainInnerItem
{
  width:20%;    
  height:auto;

}

.filterbottomMainInnerItem2
{
  width:20%;    
  overflow-y:auto;
 
}


.filterbottomMainInnerItem2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.filterbottomMainInnerItem2::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.filterbottomMainInnerItem2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}




.categ{
  font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    font-family: 'MyFont';
    font-weight: 500;
    margin: 0;
}

.text{
  width:70%;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #8c8c8c;
  text-transform: uppercase;
  font-family: 'MyFont';
  font-weight: 500;
  margin: 0;
  
  cursor: pointer;
}



.iteminner{
  width:100%;
  height:auto;
  overflow: visible;
  display:flex;
  flex-wrap:wrap;

}


.textdiv{
  height:auto;
  padding:5px 10px;
  min-width:48%;
  margin: 2px;
  border-radius: 2px;
  background-color: #f8f8f8;
  display:flex;
}


.sizediv{
  height:auto;
  padding:5px 10px;
  min-width:20%;
  
  margin: 3px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.size{

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #8c8c8c;
  text-transform: uppercase;
  font-family: 'MyFont';
  font-weight: 500;
  margin: 0;

}


.value{
  background-color: #d8d8d8;
}

.block{
  display:none;
}

.sortfilterres{
  display:block
}

.cross{
  margin-left: 10px;
  color:black;
  font-size: 12px;
  cursor: pointer;

}

.footerArange{
  position: relative;
  top:23vh;
}

.shopbtn1{
  width: 48%;
  height: 30px; 
  text-align: center;
  text-transform: uppercase;
  color: #7c7c7c;
  font-weight: 600;
  font-size: 12px;
  height: 28px;
  letter-spacing: 1.3px;
  line-height: 25px;
  border: 1px solid rgba(140, 140, 140, 0.4);
}

.noresult{
  font-size: 20px;
    line-height: 28px;
    letter-spacing: 2.5px;
    font-family: 'MyFont';
    font-weight: 600;
    margin: 0 ;
}

.shopbtn1:hover{
  background-color: #000;
  color: #fff;
  border: 2px solid black;
}

.shopbtn2{
  width: 50%;
  height: 30px;
  text-align: center;
  padding:4px 0;
  font-family: "MyFont";
  letter-spacing: 1.2px;
  background-color: #000;
  color:white;
  margin:5px;
}

.shopbtn2:hover{
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}



@media (max-width: 768px) {
  /* .slab{
    min-height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
   
    justify-content: center;
  }
  .Container::-webkit-scrollbar{
   display:none;
  }
  
  .item{
     width: 20%;
     min-width: 280px;
     height: auto;
     margin-top: 10px;
     margin-bottom: 10px;
  } */

  .TopContent{
   font-size: 20px;
  }

  .category{
    display: flex;
     width: auto;
  justify-content: center;
   flex-wrap: wrap;
   
  }

  .bottom{
    margin-top: -15px;
    justify-content: center;
  }
  

  .slab{
    gap:10px;
  }

  .item{
    min-width: 45%;
    height: auto;
  }
  
  

  .filterbottomMain{
    /* display: flex;
    justify-content: center; */
    margin-top: 0px;
    position: absolute;
    top: 0vh;
    margin:0 8%;
    overflow: scroll;
    -ms-overflow-style:auto ;
   max-height: 75vh;
    z-index: 50;
  }
  
  .filterbottomMain::-webkit-scrollbar{
    width: 10px;
    display: block;
  }

  .mainsort{
    box-shadow: none;
    top:0vh;
  }
.foot{
  margin-top: -12vh;
}
  .containsSort{
    top:auto;
    bottom: 0vh;
   }
  .footerArange{
    top:12vh;
  }
  .Container{
   
    max-height: 100vh;
    overflow: scroll;
  }
  .filterbottomMainInner{
    top: 0vh;
    height: 100vh;
    flex-wrap: wrap;
  }

  .sortfilterres{
    display:none
  }

  .contains{
    width:100%;
    height:100vh;
    background:white;
    position:fixed;
    top:11vh;
    right:10px;
    display:flex;
    flex-direction: column;
    justify-content:center;
   }

   
   .iteminner{
    margin-top:0px;
   }
   
.filterContain{
  width:100%;
  height:13%;
  background:white;
  position:fixed;
  top:auto;
  box-shadow: 0px 0 50px rgba(0, 0, 0, 0.7);
  bottom:13vh;
  display:flex;
  justify-content:center;
}

.filterContainf{
 display: none;
}


.filterContainres{
  display:flex;
  top:auto;
  bottom: 0vh !important;
  transition: height 2s ease-out;
  height: 8%;

 }

.filterbottomMainInnerItem
{
  width:90%;    
  height:auto;
}

.filterbottomMainInnerItem2
{
  width:100%;    
  max-height:25vh;
  overflow-y:auto;
}


 }

