

.main{
    width:50%;
    background:white
}

.successMsg {
    display: flex;
    justify-content: space-between;
    color: #270;
    background-color: #DFF2BF;
    width:100%;
  }
  .info-msg,
  .successMsg,
  .warning-msg,
  .error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
  }

  .column1{
    width:30%;
  }

  .column2{
    width:65%;
    display:flex;
    flex-direction:column;
  }

  .heading{
    width:100%;
    height:80px;
    margin-bottom:50px;
    background:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:18px;
    line-height:26px;
    letter-spacing:2.5px;
    font-weight:500;
    border-bottom:1px solid black;
  }

.increament{
  height:6px;
  text-align:center;
  border:2px solid white;
  border-radius:5px;
  background:#ededed;
  padding:0.5rem;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.increament::selection{
  color:#DFF2BF;
  background-color: #000;
}

.increament::-moz-selection {
  color: none;
  background: none;
}

body {background: #333}
.img__wrapper{
  width: 500px;
  height: 300px;
  position:relative;
  overflow:hidden;
}
.img__wrapper img{
  width: 100%;
}
.soldout {
    top: 2em;
    left:0;
    width:100%;
    right:0;
    color: red;
    display: block;
    position:relative;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(0deg) scale(0.75,1);
    z-index:10;
}
.soldout:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}



  @media (max-width: 1200px) {
    
    .column1{
      width:40%;
    }
  
    .column2{
      width:55%;
    
    }
    }

@media (max-width: 768px) {

   .summ{
    
    justify-content: center;

   }
    .main{
        width:100%;
        background:white
    }

    .sliderShow{
     margin-top: 100px;
    }

    .heading{
      text-align: center;
    }
}